[2017-01-12 15:53] katush opened #2 "Synchronize height of the rows"
Synchronize height of the rows in separate blocks.

[2017-01-12 15:54] katush opened #3 "Add sorting in header of column"
Introduce and synchronize sorting of items in blocks.

[2017-01-17 14:05] sgratzl opened #4 "Create FilterManagement class"
acts as a container and manager for the invidiual filters

[2017-01-17 14:06] sgratzl opened #5 "create filter component"
needs to be implement for each data type manually. Since avaialable visualizations aren't designed for user interface.

[2017-01-17 14:10] sgratzl opened #6 "create block component"
will manage one dataset and is responsible for
 * toolbar actions: search, sort, delete
 * visualizing the component using `MultiFormGrid`
 * apply given sorting

[2017-01-17 14:20] sgratzl opened #7 "create missing visualizations"
* circle visualization similar to bar plot
 * circle visualization showing an aggregated version (e.g. mean)
 * single heatmap cell visualization (e.g. mean)

[2017-01-24 16:27] bikramkawan opened #9 "Create Filter Block"
It consists block which will be useful for changing the main view on changing the selection.

![image](https://cloud.githubusercontent.com/assets/12292333/22255977/84c70b0c-e259-11e6-8905-e4a39e5ec68f.png)

[2017-01-24 16:33] bikramkawan opened #10 "Create numerical filter with brushing"
The numerical value should be represented in linear gradient and with brushing for the selection of the range.

![jan-24-2017 5-32-44 pm](https://cloud.githubusercontent.com/assets/12292333/22256487/360bf53e-e25b-11e6-8c51-eee48d49ecea.gif)

[2017-01-24 16:38] bikramkawan opened #11 "Create categorical filter"
The categorical data will be represented by different color encoding. When we select the category the opacity will be reduced. The rest of the remaining category are selected for filtering the data.

![jan-24-2017 5-37-44 pm](https://cloud.githubusercontent.com/assets/12292333/22256695/da481484-e25b-11e6-87c1-54362c0aa7b5.gif)

[2017-01-24 16:39] bikramkawan opened #12 "Create Matrix filter"
The filter for matrix type of data.

[2017-01-24 16:45] bikramkawan opened #13 "Intersection between different filter types"
The filter should perform intersection when we select different types of filter.
For example: If we select the male from one categorical data and US from another categorical data. The result should only display excluding male and US.
[1,2,3,4]- Indices of Male
[3,4]- Indices of US
The result of intersection should be [3,4].

[2017-01-24 16:48] bikramkawan opened #14 "Create single instance of filter for each data attribute"
Register filter dialog only once for each attribute.

[2017-01-24 16:50] bikramkawan opened #15 "Remove Block from Main View and Filter"
When the user clicks on the cross icon, the corresponding block should be removed from main view and filter view.

[2017-01-24 21:25] mstreit commented on #10
The gradient should reflect the data distribution. Also, the min/max and filter values should be shown.

[2017-01-25 10:27] bikramkawan opened #16 "Create String filter"
If the attribute is String type. The user should be able to filter the data with string search pattern

[2017-01-25 10:31] mstreit commented on #16
Please provide a bit more information so that everyone knows what the issue is about.

[2017-01-25 12:22] katush commented on #15
- [ ] When the block is added several times to the Main view, check the count and only remove it from filter view after the last instance in Main view is removed

[2017-01-25 20:03] bikramkawan opened #17 "Filter when data is added"
Assume there is already some kind of filters active. Now if the user adds the new attribute, the new attribute data will be filtered based on the current filtering criteria.

[2017-01-25 21:52] bikramkawan opened #18 "Connection Lines between different data Attribute"
Draw the lines connection between different data attributes as shown in figure.

![image](https://cloud.githubusercontent.com/assets/12292333/22310826/cf03b2ea-e350-11e6-94db-7997ffb1f6ef.png)

[2017-01-26 13:43] bikramkawan opened #19 "Remove the block from Main View"
Empty selectiion

![image](https://cloud.githubusercontent.com/assets/12292333/22333274/88e35ac4-e3d5-11e6-90c8-2fdf5283f8e0.png)
If we select as in filter dialog exclude female , inactive and artists starting with G then we have empty selection as below.
![image](https://cloud.githubusercontent.com/assets/12292333/22333257/6e08b0d2-e3d5-11e6-9a79-37a392b9e622.png)
Remove all blocks from filter an

[2017-01-26 15:43] mijar commented on #19
The selected filter setup is a query, we wanted to see e.g. "how many people fulfill this criteria in our dataset" and thus the result of 0 rows is a correct result. It is not neccessary to remove the block, we will just leave the header here so the users know what is their setup.

[2017-01-26 15:43] #19 closed

[2017-01-30 11:50] bikramkawan commented on #18
Current State:
![image](https://cloud.githubusercontent.com/assets/12292333/22422038/9d694d9c-e6ea-11e6-806b-0f4dcd9aff56.png)

[2017-01-30 11:51] bikramkawan commented on #16
Current State: Text with Brushing
![image](https://cloud.githubusercontent.com/assets/12292333/22422063/c2101130-e6ea-11e6-9dcd-3d1e4c013652.png)

[2017-01-30 11:53] bikramkawan commented on #15
Done on this commit
https://github.com/Caleydo/mothertable/commit/65438acbb711d012dad27ee873cb20323ca9db6b

[2017-01-30 11:53] #15 closed

[2017-01-30 11:54] bikramkawan commented on #14
Done :
https://github.com/Caleydo/mothertable/commit/65438acbb711d012dad27ee873cb20323ca9db6b

[2017-01-30 11:56] #14 closed

[2017-01-30 11:57] bikramkawan commented on #10
Current State:
![image](https://cloud.githubusercontent.com/assets/12292333/22422222/96994ffc-e6eb-11e6-8108-be3382d0f970.png)

[2017-01-30 11:57] #10 closed

[2017-01-30 11:59] bikramkawan commented on #11
Done:
https://github.com/Caleydo/mothertable/commit/fdaa72ca346377ff07de16555126562de887c666

[2017-01-30 11:59] #11 closed

[2017-01-30 12:00] #17 closed

[2017-01-30 12:00] bikramkawan commented on #13
Intersection with Matrix is remaining.

[2017-01-30 12:01] #16 closed

[2017-01-30 12:03] bikramkawan opened #20 "Create only single line with thickness scaled"
Current State:
![image](https://cloud.githubusercontent.com/assets/12292333/22422392/662f8402-e6ec-11e6-8d01-c649326002ad.png)

Remove multiple line with scaled thickness.

[2017-01-30 12:05] bikramkawan opened #21 "Filter Data when user clicks on the line"
![image](https://cloud.githubusercontent.com/assets/12292333/22422458/be5c5c04-e6ec-11e6-96f3-1913d3b0755c.png)
Filter Data excluding Barbados

[2017-01-30 14:11] mstreit opened #22 "Set default visualization in multiform blocks to heat map"
For matrix, numerical and categorical blocks, we can set the default vis to a heat map.

[2017-01-30 14:12] mstreit opened #23 "Heat map visualization for categorical multiform blocks"

[2017-01-30 14:24] mstreit commented on #21
Duplicate of #13?

[2017-01-30 14:25] mstreit commented on #9
Looks like this is done, right?

[2017-01-30 14:26] bikramkawan commented on #9
Yes . It supports for string, numerical, categorical and matrix for now.

[2017-01-30 16:58] mstreit commented on #9
OK, then please close the ticket and create more specific ones for missing sub-features or extensions.

[2017-01-30 16:59] mstreit commented on #4
@bikramkawan, did you already implement your filter functionality using such a management class? If yes, please close this ticket.

[2017-01-30 17:00] mstreit commented on #5
Is #9 a duplicate of this issue? If yes, close this issue. If no, describe what is different.

[2017-01-30 19:31] bikramkawan commented on #9
See here
https://github.com/Caleydo/mothertable/commit/7c486b8c74e8d4fb37b10aebe1b2d95420ca14c2

[2017-01-30 19:31] #9 closed

[2017-01-30 19:31] bikramkawan commented on #4
Done here.
https://github.com/Caleydo/mothertable/commit/7c486b8c74e8d4fb37b10aebe1b2d95420ca14c2

[2017-01-30 19:31] #4 closed

[2017-01-30 20:16] bikramkawan commented on #18
Current State:
Still, we need to discuss on how the line will look like.For example when we connect from categorical to non-categorical. There is one issue also regarding the line thickness.
For example:
The domain of the first album is [1957,2014] and the domain of countries [1,7].
Should we generalize the thickness of the line to match first album and countries to the thickness of [1,10] or trea

[2017-01-31 11:25] bikramkawan opened #24 "Create input String Filter"
The user will be able to input string and update the main view accordingly.

![jan-31-2017 12-22-57 pm](https://cloud.githubusercontent.com/assets/12292333/22463048/3c28f188-e7b0-11e6-8753-62268786715a.gif)

[2017-01-31 11:29] #24 closed

[2017-01-31 11:36] bikramkawan opened #25 "Create Density Plot for numerical and Categorical in Filter Dialog"

[2017-01-31 11:38] #5 closed

[2017-01-31 11:40] bikramkawan commented on #3
Alphabetical and Numerical
on commit
Numerical: https://github.com/Caleydo/mothertable/commit/f77ebdf0070a6caec99e9f5afbc0dfa261af48a3
Alphabetical: https://github.com/Caleydo/mothertable/commit/aca5da6191893402a552ff8a6af8aba706bb2bc5

[2017-01-31 14:24] bikramkawan commented on #25
Current Status:
![jan-31-2017 3-23-52 pm](https://cloud.githubusercontent.com/assets/12292333/22468638/58f7a70a-e7c9-11e6-8155-7e7d8627ea75.gif)

[2017-01-31 15:49] mstreit commented on #25
Let's discuss the filter histograms in our meeting today.

[2017-01-31 15:53] mstreit opened #26 "Load data for TCGA use case"
Loading TCGA data for one of the tumor types is important because it gives a bigger dataset to play with during development. Furthermore, this will also be the dataset that our collaborators will use to provide feedback.

[2017-01-31 17:37] mstreit opened #27 "Create initial version of column manager"
The column manager should assign new columns for each dataset a user selects. The manager should also take care of assigning space to the columns. The columns itself (own class) should then decide on its own how to fill this space and how the data needs to be aggregated given the assigned space.

@sgratzl will create an initial version where @katush and @mijar can then continue with working on the

[2017-01-31 17:59] bikramkawan opened #28 "Make FilterManager for different IDTypes"
The first user will choose the different IDTypes (like Artist or Countries)
Then if there are two idtypes there will be two filter manager for each idtypes.
There will be dropdown selection for each idtypes which will contain all the data it holds
For example in Artist: the data could be artist name, gender, origin
In idtype of countries, the data could be continent, sold albums

![img_0245](https

[2017-02-01 07:17] mstreit commented on #28
Yes, making the addition of data more structured is definitely a good idea. I also agree with Alex that we can integrate this in the view on the right.

[2017-02-01 07:56] bikramkawan commented on #25
Current State:
![image](https://cloud.githubusercontent.com/assets/12292333/22498994/4d232c9a-e85c-11e6-8769-66b28890f9a1.png)

[2017-02-01 07:58] sgratzl commented on #27
I created an initial version at https://github.com/Caleydo/mothertable/tree/feature_columnManager/src/column

However, I don't know how to integrate it in the current setup, since I don't fully understand how different components are working together.

[2017-02-01 08:56] mstreit commented on #26
@sgratzl, what is the easiest way to achieve this? Add the hdf data connector and put a TCGA hd5 package in the data folder?

[2017-02-01 09:03] sgratzl commented on #26
exactly

[2017-02-01 09:04] mstreit commented on #26
ok, great. can you please add this to the product so that the larger TCGA dataset appears in the daily build version?

[2017-02-01 09:20] mijar commented on #28
Bikram just a check if I understand - so there will be only a dropdown with selection of IDType and the rest of the content will be changing according to your selection?
How will you then deal with the case of 2 matrices in the Table?

[2017-02-01 09:23] mstreit commented on #28
Yes, the first dropdown basically just determines the primary ID type for the table, i.e. rows.
For each matrix you select, we can add a new filter view for the corresponding column type.

[2017-02-01 09:29] mstreit commented on #26
Please also let the rest of the mothertable team know where to the TCGA hd5 data file can be found.

[2017-02-01 09:29] mijar commented on #28
I understood it as the dropdowns are all the same one dropdown, that is just driving what is shown in filter view...

[2017-02-01 09:46] mstreit commented on #27
@mijar, do you know how the different components work together?

[2017-02-01 10:29] mstreit commented on #28
The goal is to structure and subdivide the potentially long list of possible data subsets a user can add. If the user selects 'artist' as a primary ID type, the newly added ID type specific area will show a drop down with all subsets associated with artists - including matrices. In this ID type specific area will will also place the corresponding filters. If a user selects a matrix, it will be add

[2017-02-01 10:36] katush commented on #27
right now the class VisManager partially covers functionality/responsibility  of Sam's the ColumnManager so I think the pest place to start is to try and merge these two

[2017-02-01 10:43] mijar commented on #28
Now I understand how you meant it, thanks for the explanation. Nice and useful idea.
The only thing about this might be that in this setup, the additional view will always have to be there and not hideable...I am fine with that, just pointing it out because in general it has been agreed that this area should be shown only on demand

[2017-02-01 11:15] mstreit commented on #28
We could still show it on demand or if the user moves the mouse to the right side. Or is there another reason that I missed why this is not an option anymore?

[2017-02-01 11:16] sgratzl commented on #26
[code]

[2017-02-01 11:17] mstreit commented on #26
Great, thanks!

[2017-02-01 11:18] mstreit commented on #26
@mijar, @katush, @bikramkawan, please add the data in your local dev environment, too.

[2017-02-01 14:09] mstreit commented on #12
Unclear how this filter should look like. I think it only makes sense if the user aggregates a matrix to a vector.

[2017-02-01 14:12] mstreit commented on #3
Is this done? If not, what needs to be implemented before we can close this issue?

[2017-02-01 14:12] bikramkawan commented on #3
Not Done yet completely

[2017-02-01 14:13] mstreit commented on #22
@bikramkawan, this is done, right?

[2017-02-01 14:13] bikramkawan commented on #22
yes it is done

[2017-02-01 14:33] mstreit commented on #27
OK, I've discussed this with Sam. He will implement an overall architecture so that you have a clean state to continue. Updates will be posted in this ticket soon.

[2017-02-01 16:47] #22 closed

[2017-02-01 16:49] sgratzl commented on #27
done:
 * initial idtype selection
 * area for filter manager
 * adding/removing of columns
 * column manager
todo:
 * a matrix columns is also a column manager

[2017-02-01 16:58] mstreit commented on #27
Cool. I think the easiest way is to make this branch the new master and integrate the now missing functionality in the redesigned class structure.

[2017-02-01 17:42] sgratzl commented on #27
why? the old elements are still around. I created the app in parallel to the other one

[2017-02-01 18:26] mstreit commented on #27
I know, but now the question is how the rest of the team should continue.

[2017-02-01 20:15] sgratzl commented on #27
why not just merging this branch into the master branch as always?

[2017-02-01 20:27] mstreit commented on #27
I thought that the implementations in the two branches are complementary. But if that's not the case then let's merge them.

Sent from mobile

[2017-02-02 08:10] bikramkawan commented on #25
![feb-02-2017 9-08-44 am](https://cloud.githubusercontent.com/assets/12292333/22541555/5822b158-e927-11e6-862b-7f4cf141ddb8.gif)

[2017-02-02 12:35] #25 closed

[2017-02-06 06:51] mijar commented on #26
I am getting a wget: command not found and was not yet able to find how to install it...I am going to the defense now and will continue looking for it afterwards, if you would not be faster and help me.:-) thanks

[2017-02-06 08:23] mstreit commented on #26
wget is just a command to download a file. you can also download the file via your browser and put it in the _data folder.

[2017-02-06 08:23] bikramkawan commented on #26
If you are getting wget command not found you can simply download and place the file in _data folder. It worked for me.

[2017-02-06 08:42] mijar commented on #26
Oh I see. Thank you.

[2017-02-06 08:42] #26 closed

[2017-02-06 10:34] mstreit commented on #3
what is missing?

[2017-02-06 10:35] mstreit commented on #2
Seems to work now.

[2017-02-06 10:35] #2 closed

[2017-02-06 10:36] mstreit commented on #28
Works in principle. Fine tunings and open issues will be filed as separate tickets.

[2017-02-06 10:36] #28 closed

[2017-02-06 10:37] mstreit commented on #12
Will not be implemented for now.

[2017-02-06 10:37] #12 closed

[2017-02-06 10:37] mstreit commented on #23
Works if colors for categorical attributes are set in the data.

[2017-02-06 10:37] #23 closed

[2017-02-06 10:39] mstreit opened #33 "Categorical filter does not work if last remaining category gets selected"

[2017-02-06 10:39] #27 closed

[2017-02-06 10:40] mstreit opened #34 "Set colors for categorical attributes in artists dataset"
For now, only the colors for gender are set. All categorical attributes should get some color. Makes it also easier to see if filters work.

[2017-02-06 10:44] bikramkawan opened #35 "Numerical filter bugs"
- [x] it is currently hard (sometimes impossible) to include boundary values again after you previously filtered them out
- [x] it is impossible to select only small range in the middle of the range of values - the other handle of the slider starts moving because of the size of the handle
- [x] reimplement this with d3 brushing, it's nice and easy to interact with

[2017-02-06 10:44] mstreit opened #36 "Blocks in the column layout should always fill the vertical space"
As a start, I suggest to let the blocks within the columns always fill the vertical space they have. In the current implementation, they are sometimes shown in full height, and sometimes they are only 100px height.

[2017-02-06 10:46] mstreit opened #37 "Width of the columns should be set depending on the block it contains"
In the current implementation all columns have the same width. As a starting point, the width of the column should be set according to the block width. The goal is to get rid of the white space between the blocks in order to see an actual table.

[2017-02-06 10:50] mstreit opened #38 "Column toolbar should only appear on hover"

[2017-02-06 10:53] mstreit commented on #3
Matrix block has a different sorting numerical and categorical columns.

[2017-02-06 12:51] mstreit opened #39 "Let user change hierarchical sorting order via drag and drop of filter widgets"
- [x] allow dragging
- [x] automatic change of order when the user clicks on the sorting icon in toolbar of a column in the table view (this attribute becomes 1st sorting criterion - moves to the top of filter view)
- [x] Trigger the sort event after dragging finishes.

[2017-02-06 12:55] mstreit opened #40 "Make categorical block visualization wider and add label"
Should look like in sketch if unaggregated.

![image](https://cloud.githubusercontent.com/assets/4129755/22647827/e1893a8a-ec73-11e6-809b-310afd7cabc1.png)

[2017-02-06 12:56] mstreit opened #41 "Add header to each column showing label"
Should look similar to sketch:

![image](https://cloud.githubusercontent.com/assets/4129755/22647858/00cc99a0-ec74-11e6-8325-9980b7d3fc1f.png)

[2017-02-06 12:57] mstreit commented on #41
Already done.

[2017-02-06 12:57] #41 closed

[2017-02-06 13:01] mstreit opened #42 "Hierarchical sorting of columns"
Columns should be sorted and stratified hierarchically. The sorting order is driven by the order in which the filter widgets appear on the right side (see #39).

[2017-02-06 13:03] mstreit opened #43 "Add additional attributes at the top of the matrix block"
Should work with numerical and categorical attributes.

![image](https://cloud.githubusercontent.com/assets/4129755/22648047/fa3e3e08-ec74-11e6-8ff3-5f9bbe20a97f.png)

[2017-02-06 13:07] mstreit commented on #36
Example: Rows in the bar block should have the same size as rows in the heatmap block

![image](https://cloud.githubusercontent.com/assets/4129755/22648154/8d12990e-ec75-11e6-8e3f-14d17a831f16.png)

[2017-02-07 07:25] mstreit commented on #34
@bikramkawan, you've addressed this issue already, right? Please don't forget to reference the issues in your commits and keep the status of the issues up-to-date.

[2017-02-07 08:46] bikramkawan commented on #34
I did that Sorry I forgot to update here.
https://github.com/Caleydo/mothertable/commit/301234c0af981e4ec05fd6fadcbd89dbfa8c303f

[2017-02-07 09:51] mijar opened #45 "Attribute block disappears from Filter View even though it is still present in Table View"
When you add an attribute twice, it appears only once in the fiter view, which is correct - the problem is when you want to delete one instance of this attribute in table view and keep the other - the corresponding block in the filter view disappears.
1. Add origin
2. Add Career status
3. Add origin again
4. Delete one of Origin columns from Table View

![1attrtwice](https://cloud.githubuserconten

[2017-02-07 10:09] mijar opened #46 "Handles in numerical filters"
I would suggest the following behaviour:

- the size of the handle does not limit the user in the selection of desired interval
- once moved somewhere in the block, the handles do not change their position by themselves, only by interaction
- moving some handle does not affect the position of the other
- **maybe use gray handles and change the color to black and status to draggable on hover to all

[2017-02-07 10:12] mstreit commented on #46
I would expect that the brush works as shown in the block example here (without the zooming of course):
https://bl.ocks.org/mbostock/34f08d5e11952a80609169b7917d4172

[2017-02-07 10:21] mijar opened #47 "Values wrongly filtered"
Even though after some playing around I have reset the numerical filters to cover the whole range, some values god missed out

![image](https://cloud.githubusercontent.com/assets/7511570/22687123/1799fa52-ed27-11e6-86c5-c49bd497d0a5.png)

[2017-02-07 10:25] mijar commented on #47
The same problem can be observed in categorical values as well, I will post the steps to get there in the next comment
![image](https://cloud.githubusercontent.com/assets/7511570/22687366/02bcedb4-ed28-11e6-80fb-39a6aba6d874.png)

[2017-02-07 10:30] mijar commented on #47
1. add origin
2. add studio albums
3. filter some values in studio albums
4. add gender
5. adjust studio albums filter to cover the whole range

[2017-02-07 10:51] mijar opened #49 "String column"
- Scale the column to keep row correspondence, not strings
- Keep changes when vis updates

[2017-02-07 10:58] mijar opened #50 "Add new section in Filter View if Matrix is added twice"
If matrix is added for the first time, the section is created...if we want show the same matrix for the second time (e.g. with different stratification) the corresponding section in Filter View is not yet created

[2017-02-07 12:28] mijar opened #51 "Filters after column deletion - keep them and if we add the column again, show correct block appearance in filter view"
What should happen, if we delete a column where we have filtered something out in the corresponding block in filter view?
e.g. columns of gender, career status ...we filter out inactive artists, then delete the career status column.

- A) the vis should come to the state before the career status filter was applied
- B) keep the filter - but currently we lose track of it, because the column with th

[2017-02-07 12:34] mstreit commented on #51
I think option B is favorable.

[2017-02-07 14:25] bikramkawan opened #53 "Make the column draggable to change the position"
![image](https://cloud.githubusercontent.com/assets/12292333/22695026/947e1ebe-ed49-11e6-8ca4-e00fe60e6187.png)

[2017-02-07 14:28] bikramkawan opened #54 "Row brushing for item level"
Transition to item level: When the label column is added and the items on individual level fit the screen, the table will be expanded to item level. If it doesn’t fit the screen, the top ten items will be expanded and the rest of the table will stay aggregated. The number of expanded items can be adjusted by brushing on label column. To aid brushing we will support snapping to multiples of 5.

![i

[2017-02-07 14:29] bikramkawan opened #55 "Distribution of categorical data in filter"
![image](https://cloud.githubusercontent.com/assets/12292333/22695192/2f5e3d7e-ed4a-11e6-8382-a00de0f6324e.png)

[2017-02-07 14:33] bikramkawan opened #56 "Remove non feasible visualizations from toolbar"
The user should only be able to switch to meaningful other visualizations that make sense for the data type.
![image](https://cloud.githubusercontent.com/assets/12292333/22695320/a9d819da-ed4a-11e6-980b-8164efec7b5b.png)

[2017-02-07 14:34] bikramkawan opened #57 "Add color coding in TCGA categorical data"
Color coding is missing in TCGA data for categorical data

[2017-02-07 14:40] bikramkawan opened #58 "Let user change column width interactively"
The user should be able to resize the width of the column by some icon on the header or by dragging left or right as in lineup.

[2017-02-07 14:41] bikramkawan opened #59 "Make the header of the column invisible by default"
The header of the column should be invisible by default and should appear on demand.

[2017-02-07 14:43] mstreit commented on #59
The header of the column should not be visible - just the toolbar. This is already covered in #38

[2017-02-07 14:43] #59 closed

[2017-02-07 14:44] bikramkawan opened #60 "Add the column freeze icon on header of column"
When the freeze icon on the header is activated the current column should have fixed width. The rest of the column width should be adjusted dynamic to fill the space. If we want to unfreeze we will deactivate by clicking on this icon.

[2017-02-07 14:47] bikramkawan opened #61 "Universal resize layout icon"
There should be a universal resize icon somewhere. If it is activated all the columns will update layout to fill the available space.

[2017-02-07 14:48] mstreit commented on #61
Why do we need such an icon? If possible, our table vis should decide if the space is needed.

[2017-02-07 14:50] bikramkawan opened #62 "Layout behavior"
- [x] When content is smaller than screen size - Specify max width and height for visualization

- [x] When content reaches the screen size - allow shrinking to the lowest possible level (specify min width and height)

- [x] If content cannot fit anymore - allow scrolling or apply aggregation

[2017-02-07 14:55] bikramkawan opened #63 "Enable adding multiple attributes at once"
![image](https://cloud.githubusercontent.com/assets/12292333/22696323/dfa87188-ed4d-11e6-828e-2afe09f5f263.png)

[2017-02-07 14:58] bikramkawan commented on #3
Add toggle function in header for ascending and descending order

[2017-02-07 15:02] bikramkawan opened #64 "Create tooltip to display additional information"
When hover over the cell it should display additional information.
Such as counts for categorical, value for numerical.
![image](https://cloud.githubusercontent.com/assets/12292333/22696516/8a1c6412-ed4e-11e6-8c1f-a0508918df24.png)

[2017-02-07 15:04] mstreit commented on #64
yes, but only if there is not enough space to show the labels. If we have the space, we can show the text.

[2017-02-07 15:06] bikramkawan commented on #7
![image](https://cloud.githubusercontent.com/assets/12292333/22696725/70efc30c-ed4f-11e6-8a72-05d7f5c4e009.png)

[2017-02-07 15:12] bikramkawan opened #65 "Aggregation in vertical direction"
- [ ] Aggregation of multiple rows into one

- [ ] By default on highest possible level

[2017-02-07 15:15] mstreit commented on #7
@bikramkawan, please extract the specific visualization to separate issues and close this one.

[2017-02-07 15:16] bikramkawan commented on #7
ok

[2017-02-07 15:16] #7 closed

[2017-02-07 15:17] bikramkawan opened #66 "Create circle renderer for numerical data"
![image](https://cloud.githubusercontent.com/assets/12292333/22697140/e1f738a4-ed50-11e6-93e9-fed752ba929b.png)

[2017-02-07 15:20] bikramkawan opened #67 "Specify default color for multiform"
Specify default color for multiform if it is missing.
Like here this is the numerical value and color is missing so it is shown black.
![image](https://cloud.githubusercontent.com/assets/12292333/22697275/426065a8-ed51-11e6-8036-0670db5b7fa5.png)

[2017-02-07 15:23] bikramkawan opened #68 "Resize multiform on update"
The default size for the multiform area is not specified. When we switch from one visualization to another the scaling of SVG is not correct.
The width of SVG is small to render the boxplot.
![image](https://cloud.githubusercontent.com/assets/12292333/22697415/aa263172-ed51-11e6-9c74-a3a609c3dfe2.png)

[2017-02-07 15:25] #34 closed

[2017-02-07 17:29] mijar opened #69 "Add button for sorting in toolbar"
ascending/descending order

[2017-02-07 17:31] mijar commented on #3
@bikramkawan the button is the only thing that is missing?

[2017-02-07 17:49] mijar opened #70 "Dendrogram renderer of hierarchically stratified categorical columns"
We have discussed (quite long time ago) that the dendrogram could be useful vis instead of having multiple colored categorical columns next to each other...opinions?
![img_0510](https://cloud.githubusercontent.com/assets/7511570/22703867/ecddd61e-ed65-11e6-8b7c-160b3cabbb77.JPG)

[2017-02-07 17:52] mijar opened #71 "Preview in the table view of the ratio of how much data we lose by filtering something out on mouse hover in filter view"
Do we still count with this one?

[2017-02-07 17:54] mijar opened #72 "Switching directions"
This should be also specified in more detail

[2017-02-08 09:56] mijar commented on #47
numerical filer does not cover the whole range - border value (30) is missing when going through the same scenario as in the previous comment

[2017-02-08 10:22] #47 closed

[2017-02-08 10:25] mijar commented on #46
handles need to be made smaller and there has to be bigger margin to the border of the window - because right now border values can be missed out because you are not able to move the handle to the very end of the range.

[2017-02-08 10:25] mijar commented on #47
as far as what I tested this works now.

[2017-02-08 11:47] bikramkawan commented on #46
I have added some more space for now. I will update the brushing function as mentioned above.

[2017-02-08 12:06] mijar commented on #46
good, the brushing has lower priority as we discussed, so you can focus on other issues now

[2017-02-08 12:15] mijar commented on #51
the management here is not working properly, try this scenario:

1. add gender, career status and label, to see the difference (12 entries)
2. filter out active artists, to see only inactive ones (5 entries)
3. delete career status column (still 5 entries)
4. filter out females (is 8 but should be 4, because the career status filter should be still active as agreed before)
5. add column of career

[2017-02-08 16:55] #69 closed

[2017-02-08 16:55] #38 closed

[2017-02-08 16:57] mijar commented on #3
The button is there now, should appear after PR approval.

[2017-02-09 08:43] bikramkawan opened #77 "Keep filter view when removing the column if it is part of filter."
There is already some filter applied. Now when we try to add new categorical data the color should be faded if it has some data filtered out.
![image](https://cloud.githubusercontent.com/assets/12292333/22775444/0c7efec0-eeac-11e6-94b7-dfd3e5925e4e.png)
Here artist from Barbados and Ireland are already filtered out. So when we add this attribute the color should be faded.

[2017-02-09 08:53] bikramkawan opened #78 "Apply filter if we select attributes from another idtype"
![image](https://cloud.githubusercontent.com/assets/12292333/22775786/795a6b28-eead-11e6-80d2-62b27cf851f6.png)

[2017-02-09 10:13] mijar commented on #77
rewrite the functionality as we discussed now, thanks ;)

[2017-02-09 10:24] bikramkawan commented on #77
Scenario:

1. Add Artists.
2.Add Origin.
3.Add gender.
4.Apply filter on Origin and Gender.
5.Remove Origin column from the main view.
6.The filter view of Origin is also removed (Current State).

TODO: Do not remove from the filter view if it is part of filtering some data only remove a column from the main view.

[2017-02-09 10:27] mstreit commented on #77
Yes. If the filter element receives a remove event, it needs to check whether the user actively set a filter. If this is the case, just ignore the event and do nothing.

[2017-02-09 15:47] bikramkawan commented on #78
Combine filter combination from artist and country

[2017-02-09 15:57] bikramkawan commented on #78
Still more scenario needs to be tested for the different combination.

[2017-02-10 08:03] bikramkawan opened #80 "Make uniform width of histogram in filter view"
![image](https://cloud.githubusercontent.com/assets/12292333/22818867/b029cec4-ef6f-11e6-8904-a7c561eff05c.png)
To do : same width of all categories

[2017-02-10 08:06] bikramkawan opened #81 "Add transition before updating main view"
Assume some data are filtered out. Do not update the main view directly. There should be some animation or transitional phase to update the main view.

[2017-02-10 11:23] mstreit opened #82 "Don't add columns if they are not matching the primary ID type"

[2017-02-10 11:24] bikramkawan commented on #82
Yes I noted this :)

[2017-02-10 11:29] bikramkawan commented on #78
![image](https://cloud.githubusercontent.com/assets/12292333/22825250/604eaeca-ef8c-11e6-83a7-108f3ee65db6.png)

If we select any attributes from another idtype just update matrix in the column direction. The row direction should be unaffected.

[2017-02-13 12:46] #51 closed

[2017-02-13 12:52] #80 closed

[2017-02-13 12:52] #82 closed

[2017-02-13 13:04] #77 closed

[2017-02-13 13:16] mstreit commented on #61
@bikramkawan, please follow up to ongoing discussions.

[2017-02-13 13:18] mstreit commented on #71
Would be nice, but has a low priority for now.

[2017-02-13 13:21] mstreit commented on #6
Is that our new Column?

[2017-02-13 13:22] mstreit commented on #13
@bikramkawan, is this done now after merging the recent PRs?

[2017-02-13 13:23] mstreit commented on #33
@bikramkawan, this is fixed, right?

[2017-02-13 13:23] bikramkawan commented on #61
It was my thought for the following scenario.
1. User increased the space of the column beyond the requirement.
2.The user continues to this same action for more columns.
3.When we add new column, we might be lost some space from those expanded columns.
4. So to auto adjust all the column with sufficient width there could be some universal resize button.

[2017-02-13 13:26] mstreit commented on #45
Seems to be fixed now, right? @bikramkawan, please close the issues once they are addressed!

[2017-02-13 13:29] mstreit commented on #61
OK, but cannot the layout manager decides to do this? If we have too little space, we need to shrink and/or aggregate columns.

[2017-02-13 13:29] bikramkawan commented on #45
yes.

[2017-02-13 13:29] #45 closed

[2017-02-13 13:31] mstreit commented on #60
How about using this icon? http://fontawesome.io/icon/lock/

[2017-02-13 13:33] bikramkawan commented on #61
Yes, it should be somewhere in layout manager which can be performed dynamically or else explicitly from some button.

[2017-02-13 13:34] mstreit commented on #61
@mijar, do you think we need an explicit button for this or can the layout manager handle this without bothering the user?

[2017-02-13 13:36] bikramkawan opened #86 "Sorting should reflect on Matrix also"
The sorting should reflect on the matrix also.

[2017-02-13 13:38] mstreit commented on #86
Do you mean that the sorting is not applied to the matrix if the user sorts by some other numerical/categorical attribute? If this is the case, you should fix this before we merge the PR. The order should always be consistent across all rows in the table.

[2017-02-13 13:40] bikramkawan commented on #86
Yes. I will fix that.

[2017-02-13 13:42] mijar commented on #6
I think so, I would close this...

[2017-02-13 14:56] #6 closed

[2017-02-13 14:59] mijar commented on #78
1. Artists - add label, Origin, Career Status, Number1Hits
2. Countries - add Continents, Population...
3. Do some filtering on both attributes from Countries...some of the columns disappear

[2017-02-13 16:57] bikramkawan opened #87 "Store data subset view"
Store the local copy of data view after we apply some filter. This is useful for sorting because we only need to sort the current subset of data.

[2017-02-14 08:27] bikramkawan commented on #33
yes.

[2017-02-14 08:27] #33 closed

[2017-02-14 08:28] bikramkawan commented on #13
yes it was done in #84

[2017-02-14 08:28] #13 closed

[2017-02-14 08:33] bikramkawan commented on #87
See here #88

[2017-02-15 10:17] bikramkawan commented on #35
I think I can close this now right ?

[2017-02-15 10:22] mstreit commented on #35
If the problem does not occur anymore, yes.

[2017-02-15 13:34] bikramkawan opened #91 "update the filter method on Matrix"
I updated some method to make the sorting in the matrix working properly. So There is the bug on matrix filter which needs to be updated.

[2017-02-15 13:59] #3 closed

[2017-02-15 14:04] bikramkawan opened #92 "Single sorting criteria"
Steps:
1. Add some columns
2. Filter some data
3. Sort by any column
4. Get back the filtered data
5. The sorting should be same as before.

[2017-02-15 14:06] #87 closed

[2017-02-15 14:30] bikramkawan opened #93 "String column adjustment"
The string column is wrongly adjusted.
![image](https://cloud.githubusercontent.com/assets/12292333/22978555/7b9e5efe-f393-11e6-81e1-9cf304017547.png)

[2017-02-15 16:49] #20 closed

[2017-02-15 16:49] #18 closed

[2017-02-15 16:49] #21 closed

[2017-02-15 16:56] mijar opened #94 "Preview of how much data we see from the whole dataset of particular ID type, in filter view"
Extension of the filter view - put a bar beneath the IDtype combobox showing ratio of currently seen data to the whole dataset. The color can be some normal one :-) or the bar can be just black and the filtered part can become grey.

![image](https://cloud.githubusercontent.com/assets/7511570/22985010/7767a8ae-f3a7-11e6-89c7-4ed616bdd047.png)

[2017-02-15 17:00] #86 closed

[2017-02-15 17:21] bikramkawan opened #96 "Sort categorical data by alphabetical order"
Sort categorical data by alphabetical(after counting elements) order instead of the number of elements in the category.

[2017-02-15 17:48] bikramkawan commented on #94
Is this the brown bar beneath the countries you mean.

[2017-02-15 17:53] bikramkawan opened #98 "Matrix resize layout"
Matrix resize layout not working when we filter data from both idtypes.
![image](https://cloud.githubusercontent.com/assets/12292333/22987687/f2829686-f3af-11e6-8c95-ec6fb4c161aa.png)

[2017-02-15 18:24] mstreit commented on #94
yes

[2017-02-15 20:47] bikramkawan commented on #94
![image](https://cloud.githubusercontent.com/assets/12292333/22994637/ee1675aa-f3c7-11e6-8b95-b21013d8c005.png)

[2017-02-15 22:15] bikramkawan commented on #55
We did in the form of the histogram. Should we close this?

[2017-02-16 07:29] mstreit commented on #55
yes

[2017-02-16 07:29] #55 closed

[2017-02-16 08:52] bikramkawan opened #101 "Move the sort icon to AVector column"
Currently, the sort icon is implemented in AColumn class. As we discussed it should appear only in Vector column.

[2017-02-16 10:35] #101 closed

[2017-02-16 10:44] #98 closed

[2017-02-16 10:44] #96 closed

[2017-02-16 12:36] #94 closed

[2017-02-16 12:38] #91 closed

[2017-02-16 12:38] bikramkawan commented on #78
I think this is fine right ? @mijar

[2017-02-16 12:56] mijar commented on #78
I tested it and I think it is related only to the implementation of numerical filter and its boundary values - that it is currently hard to include them again. Was the #35 about this or not?

[2017-02-16 12:59] bikramkawan commented on #78
Yes

[2017-02-16 13:00] mijar commented on #78
ok then I'm closing this one.

[2017-02-16 13:00] #78 closed

[2017-02-16 13:05] mijar commented on #35
I added a more detailed description of the problems in the top comment @bikramkawan ...

[2017-02-16 13:06] bikramkawan commented on #35
Thanks @mijar

[2017-02-16 13:07] mijar commented on #35
the brushing is covered in #46 , just putting here a reference so then both issues can be deleted.

[2017-02-16 13:11] #70 closed

[2017-02-16 15:52] bikramkawan opened #103 "Hierarchical sorting"
TO DO:

- [x] Hierarchical sorting

- [x] Filtering  Scenario

- [x] Let user drag the attribute in filter view and trigger the sort

**Use Case for filtering:**
Add some columns
Filter some data
Sort by any column
Get back the filtered data
The sorting should be same as before.

**Use Case for Hierarchical:**
Assume sorting criteria is ascending.
Sorting hierarchy : US>Status>Gender
Step 1:
![ima

[2017-02-16 15:55] mstreit commented on #103
yes, can be implemented elegantly using a recursive function (https://en.wikipedia.org/wiki/Recursion_(computer_science))

[2017-02-16 16:01] bikramkawan opened #104 "Default sorting criteria"
What will be the default sorting criteria if a user does not specify?
This is the case when we first load the data in the table view and there is no event registered for sorting.
Questions :
1. The data should be displayed in raw format. It means without applying any sorting.
2.By default data should be sorted in either ascending or descending.

[2017-02-16 16:02] mstreit commented on #104
Ascending.

[2017-02-16 16:05] mstreit commented on #93
@katush, how is it going with the resizing? Any particular problems for which you could use some help?

[2017-02-16 16:44] katush commented on #93
It now works for string and bar columns.
![resizing](https://cloud.githubusercontent.com/assets/8986080/23030819/34bf6550-f46f-11e6-8a4d-683e910cce75.png)

[2017-02-16 16:46] mstreit commented on #93
very nice!

[2017-02-17 09:54] bikramkawan commented on #92
This will be addressed in #103

[2017-02-17 09:54] #92 closed

[2017-02-17 10:03] bikramkawan commented on #42
This is referenced in #103 . So I will close here.

[2017-02-17 10:03] #42 closed

[2017-02-17 10:52] mijar opened #106 "Make the column width adjustable by the user as in LineUp"
Grid layout with fixed width - if we want the column to grow/ shrink in size, the rest of the columns shrinks/grows equally. The handle is grabbed and moved as in LineUp, but the behavior of the rest of the layout should be as follows:
![img_0783](https://cloud.githubusercontent.com/assets/7511570/23065198/9fba0c34-f514-11e6-82b0-6b59f42f801d.JPG)

[2017-02-17 12:36] #60 closed

[2017-02-19 21:30] bikramkawan commented on #103
![image](https://cloud.githubusercontent.com/assets/12292333/23106789/06125d30-f6f3-11e6-808a-19a593ebeda1.png)

[2017-02-20 08:20] bikramkawan opened #108 "Update filter view based on sorting criteria from table view."
The filter view should be updated based on the sorting criteria from the table view.
![image](https://cloud.githubusercontent.com/assets/12292333/23116927/7c064db2-f74d-11e6-8e69-bdfe13a0e98c.png)
If we select career status as primary sort criteria from table view it should be updated as follow
![image](https://cloud.githubusercontent.com/assets/12292333/23116956/a2d2289e-f74d-11e6-8ba9-8adfc4746c

[2017-02-20 14:26] bikramkawan commented on #108
There are a couple of confusion for me on how to update filter view based on user click on the header of the column.
Consider the above scenario.
- The column is in the order of figure 1.
- Consider user click on sort icon of career status it will be changed from ASC to DSC.

- The rest of the column updated based on DSC.

- Now I move the career status on top position in filter view. How will the

[2017-02-20 14:26] bikramkawan commented on #108
Current state:
![feb-20-2017 3-26-01 pm](https://cloud.githubusercontent.com/assets/12292333/23128920/f732ffa2-f780-11e6-86ca-9d40cdffdd2d.gif)

[2017-02-20 15:38] mstreit commented on #108
Usually this is solved by showing a little icon that indicates the sort direction.

Regarding the order: If the user actively triggers a sort action on one of the columns, it should become the primary one and all others will be shifted down.

[2017-02-20 16:50] thinkh opened #111 "Group numerical columns for hierachical sorting"
Coming from #103.

Sort hierarchy:
1. age
2. artist name

**Expected**
Considering that we have multiple artists with age = 35, the numerical column must be sorted and grouped. In the second step all artists with age = 35 should be sorted by alphabet.

[2017-02-20 17:35] bikramkawan commented on #111
This is what we want right ?
![image](https://cloud.githubusercontent.com/assets/12292333/23136095/6946fbc4-f79b-11e6-958e-5d623b0cf078.png)

[2017-02-21 09:12] bikramkawan opened #112 "Add sort icon in filter view"
Add sort icon i.e. asc and dsc in the filter view. In this, we can see the current sort criteria and select sorting criteria from filter view also.

[2017-02-21 09:14] bikramkawan opened #113 "Group string for hierarchical sorting"
Treat string labels similar to category and number.
Reference #109 #111

[2017-02-21 09:23] bikramkawan opened #114 "Add filter selection for every matrix"
Currently, we have only one single filter selection for the matrix. But we want to have filter selection for each matrix.

Example:
1. The first matrix can be filtered by continent
1. The second matrix can be filtered population and so on.

![image](https://cloud.githubusercontent.com/assets/12292333/23158490/b1aba1e2-f81f-11e6-8ccc-ca3ef0bb2227.png)

[2017-02-21 15:02] mstreit opened #115 "Fix tooltip in filter view"
The tooltip overrides the label within the category:
![image](https://cloud.githubusercontent.com/assets/4129755/23170303/f76127f0-f84e-11e6-9710-d0586219e0ae.png)

The appearance of the tooltips should be improved.

[2017-02-21 15:14] mstreit commented on #57
@bikramkawan, please take care of this issue soon. It's important for testing.

![image](https://cloud.githubusercontent.com/assets/4129755/23170767/bc387622-f850-11e6-8093-12bcfde6a18e.png)

[2017-02-21 15:15] mstreit opened #116 "Height of histogram bars is incorrect for TCGA data"
![image](https://cloud.githubusercontent.com/assets/4129755/23170843/f81ff250-f850-11e6-9450-5f82e6af9218.png)

[2017-02-21 15:21] mijar commented on #112
@bikramkawan I guess what @mstreit meant by small icon indicating sort direction was this icon in columns, for example in LineUp:
![sorticon](https://cloud.githubusercontent.com/assets/7511570/23171031/a223e202-f851-11e6-8bee-c9a63df35983.PNG)
So in our case, it is in the Table View, not in Filter View.
Marc am I right or not?

[2017-02-21 15:21] mstreit commented on #112
yes, exactly!

[2017-02-21 15:24] mstreit commented on #112
No, the point here is that when the user changes the sorting in the table view, it will become the primary sort criteria. We thought about adding ASC/DECS button in the filter view as well so that the user can decide what the sorting should be for each column independently of the primary sorting criteria.

[2017-02-21 15:29] mijar commented on #112
Now I am getting the motivation, thank you for clearing this up...

[2017-02-21 16:15] mstreit opened #117 "Handle missing data values in data subsets"
In this TCGA data example not each gene has a value in the different matrices.

![image](https://cloud.githubusercontent.com/assets/4129755/23173383/47a10e60-f859-11e6-82d5-de44e7d39296.png)

[2017-02-21 20:11] bikramkawan opened #118 "Why is different in data vector and data description for categorical in TCGA datasets ?"
The value of categorical data in TCGA data is as below
For example in patient ethnicity.
The vector is stored as numerical
![image](https://cloud.githubusercontent.com/assets/12292333/23182473/ea09da00-f878-11e6-8c01-6bcce2b58de7.png)
But the categories is defined in data description as following.
![image](https://cloud.githubusercontent.com/assets/12292333/23182709/cdbe0992-f879-11e6-80ae-5acfa96

[2017-02-21 21:51] mstreit commented on #118
Yes, TCGA data loaded from the HDF packages has a different structure. Obviously, the index of a category is stored that is then further specified in the description. Instead of the label of the category it stores the index of the category as specified in the description.

[2017-02-21 21:56] bikramkawan commented on #118
But the vector has unique value of [1,2,3] only, but in the description, it is specified four categories as shown in above figure. Why four instead of 3? Is unknown for missing value ?

[2017-02-21 22:05] bikramkawan opened #119 "Data missing after filter applied on missing value"
There is a bug in filter for missing value data.
Use case:
1.Add Origin
2.Add age (years)
Total entries => 12
3. Filter US
Total entries => 2
4. Unfilter US
Total entries => 8 instead of 12.

[2017-02-22 09:36] bikramkawan opened #120 "Update the tableview after sorting"
The table view should be updated after the user finishes dragging event in filter view. This is to synchronize the same order in both views.

[2017-02-22 12:03] bikramkawan opened #121 "Do not let user drag the matrix in filter view"
Since matrix is not part of sorting.

[2017-02-22 15:05] bikramkawan commented on #57
![image](https://cloud.githubusercontent.com/assets/12292333/23217103/72e2d2b0-f918-11e6-904a-4cf22b3e4ba0.png)
Please first update your phovea_data_hdf from the develop branch.

[2017-02-22 15:15] #118 closed

[2017-02-22 15:19] bikramkawan opened #123 "Clean the categorical name"
![image](https://cloud.githubusercontent.com/assets/12292333/23217760/a0a954b0-f91a-11e6-9d43-ceb2f89d4105.png)

[2017-02-23 11:36] bikramkawan commented on #112
![image](https://cloud.githubusercontent.com/assets/12292333/23257570/c0eb534a-f9c4-11e6-92ac-519ee34d4616.png)

[2017-02-23 11:39] bikramkawan commented on #121
It is referenced in https://github.com/Caleydo/mothertable/pull/125/commits/8ec0dd34078d9496b337c4d2c9653558992b65f2

[2017-02-23 12:01] bikramkawan commented on #123
![image](https://cloud.githubusercontent.com/assets/12292333/23258338/15652b78-f9c8-11e6-8beb-1eb25d33985d.png)

[2017-02-23 12:03] #108 closed

[2017-02-23 12:24] bikramkawan commented on #120
Current state:
The sorting is order derived as in filter view. But the table view is different which is difficult to synchronize the visual representation.
![image](https://cloud.githubusercontent.com/assets/12292333/23258777/0336d8aa-f9ca-11e6-9b24-8f8d17c7a784.png)

So we want to make the table view same as in filter

[2017-02-23 12:29] mstreit commented on #120
What do you mean by "make the table view same as in filter"?

[2017-02-23 12:30] bikramkawan commented on #120
The table view should be same as filter view order.
It means the column should be in the order of Origin, Gender and Career status

[2017-02-23 12:33] mstreit commented on #120
No! This is what we don't want to have. The column order in the table should be independent of the sort order. Otherwise the user would not be able to bring them in a specific order without changing the sorting.

[2017-02-23 12:35] bikramkawan commented on #120
But it will be difficult to see the sorting effect on the table view isn't it ?

[2017-02-23 12:36] mstreit commented on #120
Yes, but as the user specified the hierarchy on the right he knows exactly what happens.

[2017-02-23 12:36] bikramkawan commented on #120
Ok got the point then  I will close this issue.

[2017-02-23 12:36] #120 closed

[2017-02-23 13:54] bikramkawan opened #128 "Bug in removing dom element after all columns are removed"
When user remove all columns from table view and want to add again there is error.

[2017-02-23 14:42] bikramkawan opened #129 "Refactor hierarchical sorting"
https://github.com/Caleydo/mothertable/pull/109

[2017-02-23 15:35] #111 closed

[2017-02-23 15:35] #123 closed

[2017-02-23 15:39] #119 closed

[2017-02-23 15:39] bikramkawan opened #130 "Specify the default sort criteria"
There should be default sort criteria i.e. ASC

[2017-02-23 15:53] #121 closed

[2017-02-24 08:20] #57 closed

[2017-02-24 10:10] bikramkawan opened #135 "The sort order not update when click on column header"
When user click on column header from asc to dsc it is not updating the sort criteria.

[2017-02-24 11:51] bikramkawan commented on #135
![feb-24-2017 12-50-09 pm](https://cloud.githubusercontent.com/assets/12292333/23302652/d4bbffe8-fa8f-11e6-9206-7a279aa29def.gif)

[2017-02-24 11:52] mstreit commented on #135
Please don't forget to always test it with the larger TCGA datasets - just to make sure that the features work as expected.

[2017-02-24 11:54] bikramkawan commented on #135
ok

[2017-02-24 15:38] #53 closed

[2017-02-25 20:43] bikramkawan commented on #130
Addressed in PR #136

[2017-02-25 20:43] #130 closed

[2017-02-25 20:44] bikramkawan commented on #129
Address in #136

[2017-02-25 20:44] #129 closed

[2017-02-26 11:34] bikramkawan commented on #112
![feb-26-2017 12-33-13 pm](https://cloud.githubusercontent.com/assets/12292333/23339312/edbc3792-fc1f-11e6-8c4c-8617feee290b.gif)

[2017-02-27 10:01] bikramkawan commented on #46
See Here: #35

[2017-02-27 10:01] #46 closed

[2017-02-27 10:26] #112 closed

[2017-02-27 13:40] bikramkawan opened #140 "Sort consistency after removing column ?"
Use case:
Add columns Origin, Career Status and Gender.
The sorted index are for example : [0,9,11,8,6,1,2,3,10] in asc order
Now remove Origin.
Should we update the table view with new sort hierarchy as (Career Status > Gender)  or keep the currently sorted index.

[2017-02-27 13:49] #135 closed

[2017-02-27 13:49] #114 closed

[2017-02-27 13:49] #113 closed

[2017-02-27 13:49] #103 closed

[2017-02-27 13:50] #39 closed

[2017-02-27 21:46] bikramkawan commented on #35
![feb-27-2017 10-46-05 pm](https://cloud.githubusercontent.com/assets/12292333/23381420/a09f168a-fd3e-11e6-8bde-a224892ab865.gif)

[2017-02-28 09:02] bikramkawan opened #143 "Bug on null selection"
When there is not initial value for sorting array, there is the bug. This mean if we have null selection the table view is not updated.

[2017-02-28 14:36] thinkh opened #145 "Improve style for filter area"
The style for the filter area could be improved

[2017-02-28 14:41] thinkh commented on #145
Forgot to link issue in the commit c17701df9f7f74eae77a6534ae1ab7bfb76a764f.

![mothertable_new-filter-style](https://cloud.githubusercontent.com/assets/5851088/23409559/4cef445e-fdcc-11e6-9d24-0bd11c68093a.png)

[2017-02-28 16:22] alexsb opened #148 "Change color of gender categories"
These are ugly:
![image](https://cloud.githubusercontent.com/assets/2039375/23413808/25b86404-fd97-11e6-97b8-12e495ae0317.png)

Use a set from color brewer.

[2017-02-28 16:39] alexsb opened #149 "Sort histogram bars when sorting by an attribute"
![image](https://cloud.githubusercontent.com/assets/2039375/23414111/0bab4936-fd98-11e6-8b62-eb3317a8399b.png)

Here we're sorting by the number of artists from these countries in the table, but the histogram is still alpha-numeric. The histogram should be sorted in-sync with the table.

This also applies to numeric data.

[2017-02-28 16:42] alexsb opened #150 "Set maximum row height"
There is no point in making a row so big that the visualization uses the whole screen:

![image](https://cloud.githubusercontent.com/assets/2039375/23414688/182927b2-fd9a-11e6-823e-6ceae8fcdbc6.png)

This is just ugly and not helpful. Set a maximum row height of ~30 pixels.

[2017-02-28 16:44] alexsb opened #151 "Create histogram for matrices"
Numerical matrices don't have a histogram right now:

![image](https://cloud.githubusercontent.com/assets/2039375/23414806/622535cc-fd9a-11e6-892b-b06cfd493939.png)

Create a histogram for all values, just as with individual vectors.

[2017-02-28 16:51] alexsb opened #152 "Render a histogram for numerical vectors"
Right now, this uses color to encode the number of items in a bin:

![image](https://cloud.githubusercontent.com/assets/2039375/23414878/a422a770-fd9a-11e6-945e-f6a2385e10e0.png)

This is not a good choice, since the color doesn't match with a color used in the table (not even dark vs light matches).

Use a plain histogram instead. If you use color to encode the data in the table, use the same col

[2017-02-28 17:13] bikramkawan commented on #148
![image](https://cloud.githubusercontent.com/assets/12292333/23416053/90136868-fde1-11e6-8058-c430cd5ce4c6.png)

[2017-02-28 17:14] #145 closed

[2017-02-28 17:16] alexsb opened #154 "Should we label histogram bars below instead of in the bars?"
Labeling inside a bar has a couple of drawbacks:

![image](https://cloud.githubusercontent.com/assets/2039375/23416129/cbd4d532-fd9e-11e6-90d3-16e8651cda60.png)

 * It's hard to guarantee a sufficient contrast of label vs background
 * bars could be short, so the label could be partially on white background and partially on the label.

Hence, I suggest to put the labels below the bar. Downside: ne

[2017-02-28 20:53] mstreit commented on #154
Yes, I agree with your suggestion.

[2017-02-28 21:34] bikramkawan commented on #154
Looks cleaner more :)

![image](https://cloud.githubusercontent.com/assets/12292333/23434505/04aff2bc-fe06-11e6-8d06-dbbb3e55963d.png)

[2017-02-28 21:34] #154 closed

[2017-02-28 21:54] bikramkawan commented on #152
Looks nice when we have large dataset
![image](https://cloud.githubusercontent.com/assets/12292333/23435860/d51776a8-fe08-11e6-9250-b71f17cbc2b4.png)

[2017-02-28 21:56] alexsb commented on #152
Throw in a light frame for the bars just to counter-act white on white please.

[2017-02-28 22:05] bikramkawan commented on #152
![image](https://cloud.githubusercontent.com/assets/12292333/23436305/4e03ae32-fe0a-11e6-9fa6-0c2ec52ba2c7.png)

[2017-02-28 22:09] alexsb commented on #152
That looks good. Question: are you encoding the frequency of the bin with color (looks like it) or the position along the range? I think it should be the latter.

[2017-02-28 22:12] bikramkawan commented on #152
This is the question I was about to the post here. Currently, I encode color with the bin entries. The range you mean the min-max value of the data ?

[2017-02-28 22:20] alexsb commented on #152
yes. The color coding here should match what you show in the data. I'd expect this to be a gradient then.

[2017-03-01 00:41] #143 closed

[2017-03-01 08:47] bikramkawan commented on #149
![mar-01-2017 9-47-24 am](https://cloud.githubusercontent.com/assets/12292333/23452304/20e09bcc-fe64-11e6-9330-7884ab036205.gif)

[2017-03-01 09:53] bikramkawan commented on #152
The data in bins are unevenly distributed in histogram lets say we have three bins as here:
![image](https://cloud.githubusercontent.com/assets/12292333/23454212/ea91327c-fe6b-11e6-8516-2ddc6e49c7ea.png)
First bin: 6 entries  with values [7,8,6,8,7,8]
Second bin: 4 entries with values [12,10,12,12]
Third bin: 2 entries with values [33,25]
How can we make gradient based on this situation?

The anot

[2017-03-01 12:24] bikramkawan opened #157 "Split multiform based on range"
Currently multiform is rendered as a single instance.For this we are not using multiform grid . If we have the array of range element, it should split as in the figure.
![image](https://cloud.githubusercontent.com/assets/12292333/23459764/2c08f062-fe82-11e6-8920-ed232a6823d5.png)

[2017-03-01 17:04] bikramkawan commented on #157
![image](https://cloud.githubusercontent.com/assets/12292333/23471424/8d756c00-fea9-11e6-8d29-e4b1dace5b17.png)

[2017-03-02 06:59] mstreit opened #158 "Row order not consistent"
### Steps to reproduce

1. Select artist
2. Select gender
3. Select number one hits matrix

### Observed behavior
* Order of rows not consistent when selecting one

### Expected behavior
* Rows should appear in the same order across the different blocks.

![image](https://cloud.githubusercontent.com/assets/4129755/23496352/fb9817ae-ff1d-11e6-9e8e-6fe8103b8a13.png)

[2017-03-02 07:04] mstreit commented on #157
Related to #65

[2017-03-02 07:06] mstreit commented on #157
@bikramkawan, what is the status here? According to the screenshot you aggregate the lower part of numerical vectors. But what is needed to fully solve the issue?

[2017-03-02 07:09] mstreit commented on #61
@mijar ping!

[2017-03-02 07:10] mstreit commented on #150
part of #62

[2017-03-02 07:10] #150 closed

[2017-03-02 07:13] mstreit commented on #148
Use same colors for TCGA as in artists.

![image](https://cloud.githubusercontent.com/assets/4129755/23496748/1d32a33c-ff20-11e6-8541-9df58c9ecc3f.png)

[2017-03-02 07:16] mstreit commented on #116
still a problem

![image](https://cloud.githubusercontent.com/assets/4129755/23496832/86afe888-ff20-11e6-8d2f-40400ed9645a.png)

[2017-03-02 07:19] mstreit commented on #49
@katush, is this already addressed in PR #147? Does it use the StringVector impl from @sgratzl?

[2017-03-02 07:20] mstreit commented on #35
@bikramkawan, is this issue still valid?
Don't forget to regularly go through the issues and keep them up-to-date. If only a part of an issue is open, create a new one and reference it.

[2017-03-02 07:22] mstreit commented on #36
@katush, is this also fixed as part of PR #147?

[2017-03-02 07:22] mstreit commented on #36
related to #150

[2017-03-02 07:23] mstreit commented on #37
@mijar, this is already done, right?

[2017-03-02 07:24] mstreit commented on #50
Seems to work. Please re-open if this is not the case.

![image](https://cloud.githubusercontent.com/assets/4129755/23497033/9a8ca8a4-ff21-11e6-9ddf-520492704760.png)

[2017-03-02 07:24] #50 closed

[2017-03-02 10:24] bikramkawan commented on #35
It is still waiting to be merged. Reference #141

[2017-03-02 11:19] bikramkawan commented on #157
The idea is to use one multiform for each range (array of the index ) obtained from sorting.  For further we can discuss on meeting.

[2017-03-02 14:38] #35 closed

[2017-03-02 14:40] mijar opened #161 "Add Scrollbar in Filter View if there are too many Support Views"
You cannot see the support views now if there are too many matrices added...

[2017-03-02 14:46] #158 closed

[2017-03-02 15:03] mijar commented on #148
the gender is OK now, but the rest of the attributes is being assigned same colors as the gender...looks quite confusing then...
![image](https://cloud.githubusercontent.com/assets/7511570/23512687/bdbe9130-ff61-11e6-95f6-6ce23d6ffa2f.png)

[2017-03-02 15:15] mijar opened #162 "Remove support view of matrix if the matrix column is deleted from table view"

[2017-03-02 18:31] mijar commented on #37
there are dummy values set right now, for easier debugging...I would like to leave this open because it reminds me to then better set these values

[2017-03-02 18:36] mijar commented on #61
oh sorry, I missed this one. I think that so far it is quite good when leaving it up to the manager...maybe after we will see how it behaves on some real scenario when the BI guys will be ble to play with it, my thoughts will change.:-)

[2017-03-02 18:54] mstreit commented on #61
OK, then let's close it for now.

[2017-03-02 18:54] #61 closed

[2017-03-02 19:51] bikramkawan commented on #152
Does it make sense  now ?
![image](https://cloud.githubusercontent.com/assets/12292333/23523626/fe7b8db0-ff87-11e6-8bc9-e133eac5301f.png)

[2017-03-02 19:53] mstreit commented on #152
Yes, looks good now. The color should match the color to the color shown in the table. Also use the red that Alex suggested.

Btw: You can make the handles (black triangles) a bit smaller and center the text horizontally below the triangle (without overlap).

[2017-03-02 20:04] bikramkawan commented on #116
![image](https://cloud.githubusercontent.com/assets/12292333/23524533/60b35cf8-ff8b-11e6-869c-5a59ac2e273d.png)
Entries 476,13,93
If specify minimum height then the entries 13 and 93 makes hard to differentiate.
![image](https://cloud.githubusercontent.com/assets/12292333/23524638/bdb3bbbe-ff8b-11e6-994b-bbd30472fa64.png)

[2017-03-02 20:06] mstreit commented on #116
There should not be a minimum size. A histogram should just show the unmodified counts encoded in the length of the bar.
Btw: Why is the label not below the bar as it was already the case?

[2017-03-02 20:07] bikramkawan commented on #116
Ok. I have not updated from the master so it is not shown below.

[2017-03-02 20:07] mstreit commented on #116
If one of the bars gets too small to be picked, you can still make the transparent pick area bigger than the visible bar.

[2017-03-03 10:20] mstreit opened #163 "Filtered categories should appear in gray in filter dialog"
![image](https://cloud.githubusercontent.com/assets/4129755/23547426/65181cf2-0003-11e7-9514-6536327dc6a8.png)

[2017-03-03 10:35] mstreit commented on #163
I've discussed with Bikram that we don't need PRs for changing colors, labels etc. Just push it.

[2017-03-03 12:45] bikramkawan commented on #163
![image](https://cloud.githubusercontent.com/assets/12292333/23551574/a61c1f6e-0017-11e7-811c-c3a3ffafee7e.png)

[2017-03-03 12:47] mstreit commented on #163
Yes. Also use the same gray for the category name below.

[2017-03-03 12:48] bikramkawan commented on #163
ok

[2017-03-04 13:12] bikramkawan commented on #148
It should be okay now. I have explicitly defined color based on colorbrewer.
![image](https://cloud.githubusercontent.com/assets/12292333/23579032/84d8f57a-00e4-11e7-9eda-3b8bb183700f.png)

[2017-03-04 13:17] bikramkawan commented on #152
I am updating here #35 also in this issue.
![mar-04-2017 2-15-23 pm](https://cloud.githubusercontent.com/assets/12292333/23579054/220dd4aa-00e5-11e7-9e51-0acf8549238c.gif)
Thanks alot @thinkh for this brushing help.:)

[2017-03-04 13:20] bikramkawan commented on #163
![image](https://cloud.githubusercontent.com/assets/12292333/23579079/a7e47f48-00e5-11e7-9eb2-3ecc4fff26f7.png)

[2017-03-04 13:23] bikramkawan commented on #151
![image](https://cloud.githubusercontent.com/assets/12292333/23579096/1072a986-00e6-11e7-972a-13360c6ca958.png)

[2017-03-04 17:02] thinkh commented on #152
Looks good now. Only one small thing: Could you update the numbers below the frame already on drag and not after mouse up?

[2017-03-05 21:28] bikramkawan commented on #157
![mar-05-2017 10-25-04 pm](https://cloud.githubusercontent.com/assets/12292333/23591586/b8c0e1e0-01f2-11e7-8c17-1750c134113b.gif)
This is the first step. There is some work related to the multiform resizing.

[2017-03-06 08:45] bikramkawan opened #169 "Make toolbar on every multiform"
Currently, multiple instances of multiform are created based on the hierarchical sorting indices. Do we make the toolbar for switching visualization for all instances of multiform?

[2017-03-06 08:52] bikramkawan opened #170 "Specify min/max/preferred height/width of multiform blocks depending of type"
Currently multiform takes all the space which are available. Specify the minimum space for the multiform depending on the content.This is important since we are creating multiple instances of multiform.
Below is the case if we do not restrict the multiform size.
![image](https://cloud.githubusercontent.com/assets/12292333/23602766/5449fa5c-0252-11e7-9053-8c7ed999a6d5.png)

[2017-03-06 09:36] bikramkawan opened #171 "Maintain hierarchical sorting after dragging and adding new column"
Information flow of column manager
1. Filter Data
2. Sorting
3. Dragging selection

[2017-03-06 10:14] mstreit opened #172 "When resizing the window the table header should not get detached from the table"
![image](https://cloud.githubusercontent.com/assets/4129755/23605699/05c8e7ec-025e-11e7-9128-2df8a620b887.png)

[2017-03-06 10:15] mstreit commented on #163
@bikramkawan, the link to the corresponding PR or commit is missing.

[2017-03-06 10:16] bikramkawan commented on #163
It is included in this PR
https://github.com/Caleydo/mothertable/pull/167

[2017-03-06 10:19] mstreit opened #173 "Adaptive labels in multiform visualizations"
If we filter down the table to contain a very few items, we should show category labels and numerical values in the table (if the row height is big enough).

![image](https://cloud.githubusercontent.com/assets/4129755/23605848/96b96e3e-025e-11e7-898d-1f403dc21b3c.png)

[2017-03-06 10:20] mstreit commented on #170
Also set a max height of rows.

[2017-03-06 10:20] mstreit commented on #148
Looks good now.

[2017-03-06 10:21] mstreit commented on #148
@bikramkawan, link to PR or commit missing.

[2017-03-06 10:23] mstreit opened #174 "Show selection of rows without hiding content"
At the moment the whole row will get filled with the selection color. However, this hides the actual content (color of category, labels (if present), bars, etc.

![image](https://cloud.githubusercontent.com/assets/4129755/23606013/3cc3c810-025f-11e7-839c-326f93ffc485.png)

[2017-03-06 10:23] bikramkawan commented on #148
The PR is linked here.
https://github.com/Caleydo/mothertable/pull/164

[2017-03-06 10:25] mstreit commented on #93
Let's switch to the actual StringVector visualization.
@thinkh, could you please take care of this?

[2017-03-06 10:31] mstreit opened #175 "Numerical columns should be shown as bar charts by default"
Only switch back to heatmap when the column gets very little space assigned.

[2017-03-06 10:32] mstreit commented on #36
@katush, this is fixed, right?

[2017-03-06 10:33] mstreit commented on #58
@mijar, are you working on this or can @thinkh take over the issue?

[2017-03-06 10:34] #163 closed

[2017-03-06 10:35] mstreit commented on #115
@bikramkawan, this seems to be done, right? If yes, please close the issue. I really don't want to remind you for every issue. So please keep the issues up-to-date.

![image](https://cloud.githubusercontent.com/assets/4129755/23606418/ee08ab44-0260-11e7-81c3-4617bc55e22a.png)

[2017-03-06 10:36] bikramkawan commented on #115
Sorry I will have look on other open issue also. This is done.

[2017-03-06 10:36] #115 closed

[2017-03-06 10:36] #148 closed

[2017-03-06 10:38] mstreit commented on #115
OK, thx.

[2017-03-06 10:38] bikramkawan commented on #116
Since the PR https://github.com/Caleydo/mothertable/pull/167 is merged I will closed this issue.

[2017-03-06 10:38] #116 closed

[2017-03-06 14:30] thinkh commented on #117
## Problem

At the moment the phovea_server returns only the data for the given attribute ID, which can be formatted as JSON, CSV or image.

Here some dimensions for the example above:
* *mRNA*: 12042 rows x 538 cols
* *mRNA-seq*: 18214 rows x 153 cols
* *RPPA*: 171 rows x 214 cols

## What we want

We need all IDs of the largest attribute ID (here *mRNA-seq* with 18214) and "fill up" this with th

[2017-03-06 14:43] thinkh commented on #93
@katush It doesn't work in my local environment. What is the to do here?

[2017-03-06 15:33] mijar commented on #169
I would say the toolbar should only refer to the whole column, not multiform instances...IMHO the user would like to have the content of the column consistent...

[2017-03-06 15:36] mstreit commented on #169
In general I agree. The question is what to do if multiple visualizations are already mixed in the column because of the aggregation (e.g., lower part of table shown as boxplot while upper part is shown in more detail as heatmap.)

[2017-03-06 15:54] mstreit commented on #58
Is #106 a duplicate of this issue?

[2017-03-06 15:57] thinkh commented on #58
Yes. The #106 seems to be more specific, so I would use that as reference and close this.

[2017-03-06 15:57] #58 closed

[2017-03-06 15:58] thinkh commented on #106
General question: Do we need this feature for the demo in the paper? If we don't show it, it might be better to postpone it.

[2017-03-06 15:58] mstreit opened #176 "Let user change column order interactively via drag and drop"
Related to #106.

[2017-03-06 16:00] mstreit commented on #106
Yes, I think we need it because resize action will trigger automatic aggregations.

[2017-03-06 16:00] mstreit commented on #151
@bikramkawan, done and already merged, right?

[2017-03-06 16:02] bikramkawan commented on #151
It's merged already.So I close here.

[2017-03-06 16:02] #151 closed

[2017-03-06 16:19] #149 closed

[2017-03-06 16:20] thinkh commented on #176
This works already!

![taggle_reorder-columns](https://cloud.githubusercontent.com/assets/5851088/23618595/186ac586-0291-11e7-90e3-b0a99f71ae1c.gif)

@mstreit Please re-open this issue if think there is something missing.

[2017-03-06 16:20] #176 closed

[2017-03-06 16:24] mstreit commented on #176
Oh OK, I didn't know that. Great.

[2017-03-06 16:29] mstreit opened #178 "Cannot remove columns anymore"
The remove column icon in the toolbar is gone.

[2017-03-06 16:30] mstreit opened #179 "Labels are not sorted when sorting histogram bars in filter view"

[2017-03-06 16:32] mstreit opened #180 "Apply categorical filter also when clicking on label below histogram bar"

[2017-03-06 18:26] #179 closed

[2017-03-06 18:39] thinkh commented on #178
Please test again and close the ticket, if fixed.

From my point of view it should be fixed with the CSS changes I made. (It's already merged with the master.)

![taggle_reorder-columns](https://cloud.githubusercontent.com/assets/5851088/23624013/78a63b20-02a4-11e7-9305-204e9c609b34.gif)

[2017-03-06 18:44] thinkh commented on #175
What should be the coloring for the bar chart?

![taggle_barcharts](https://cloud.githubusercontent.com/assets/5851088/23624204/3f2ad8f0-02a5-11e7-84c6-57689afbe080.png)

[2017-03-06 18:49] thinkh commented on #172
I think this is related to @katush resize functionality. Correct, @katush?

[2017-03-06 18:52] thinkh commented on #152
This is already merged with the master.

[2017-03-06 18:52] #152 closed

[2017-03-06 18:54] thinkh commented on #93
This is what I see in the master branch.

![taggle_vectorstring](https://cloud.githubusercontent.com/assets/5851088/23624631/aeff435e-02a6-11e7-87c8-704d4eb83c58.png)

@katush How can I reproduce the state you showed above?

[2017-03-06 18:56] thinkh commented on #174
We could use the stroke property instead of fill. However, we can only apply this to single cells and not for the whole row (similar to LineUp), due to the different columns and multiforms.

[2017-03-06 18:59] mstreit opened #184 "Filter view gets too wide when adding Patient.histologicaltype"
![image](https://cloud.githubusercontent.com/assets/4129755/23624808/54c5743e-02a7-11e7-9d9e-471a43ebf744.png)

[2017-03-06 19:03] mstreit commented on #172
Seems to be fixed with latest changes.

![image](https://cloud.githubusercontent.com/assets/4129755/23624980/e493839e-02a7-11e7-902b-ba669e609fd7.png)

[2017-03-06 19:05] thinkh commented on #180
![taggle_click-on-categorynames](https://cloud.githubusercontent.com/assets/5851088/23625086/3b89fa48-02a8-11e7-84e5-19ff6a042a73.gif)

[2017-03-06 19:05] mstreit commented on #175
We could use a double encoding with the same color map as in the filter view (white-dark red). @alexsb, what do you think?
![image](https://cloud.githubusercontent.com/assets/4129755/23625093/42176e68-02a8-11e7-9fe5-8af9f120a944.png)

[2017-03-06 19:05] thinkh commented on #180
Ah I see that there is still a bug

[2017-03-06 19:06] mstreit commented on #170
Who is taking care of this?

[2017-03-06 19:07] mstreit commented on #170
I suggest to apply a max height that still allows us to show text within the row (if applicable).

[2017-03-06 19:10] bikramkawan commented on #170
Currently I am taking care of this marc.

[2017-03-06 19:11] mstreit opened #185 "Remove border around histogram but keep min and max delimiter line"
![image](https://cloud.githubusercontent.com/assets/4129755/23625261/ded4cc00-02a8-11e7-8bc4-f5fadf8f356f.png)

Also add the triangles again so that users see that they can drag the line.

[2017-03-06 19:14] mstreit commented on #185
But I think you can keep the baseline as well. So maybe just remove the line at the top.

[2017-03-06 19:15] alexsb commented on #175
If we use color then yes, the color should be used consistently.

However, this is already very colorful, so this might be an opportunity to go gray ;)

[2017-03-06 19:15] mstreit commented on #175
Yes, the black is bit too hard for my taste.

[2017-03-06 19:16] mstreit commented on #185
The histogram should have the same style as the histograms for matrices.

[2017-03-06 20:33] bikramkawan commented on #185
Since we have no filtering in matrix does it make sense to have border lines?
![mar-06-2017 9-30-40 pm](https://cloud.githubusercontent.com/assets/12292333/23628358/4e03a3ac-02b4-11e7-8cbf-5f4273b879ef.gif)

[2017-03-06 20:59] mstreit commented on #185
Looks good. The baseline can be light gray too, going from the min value to the max value. The min/max vertical filter lines can remain black.

[2017-03-07 08:01] thinkh commented on #180
Fixed. See PR #187

![taggle_click-on-categorynames2](https://cloud.githubusercontent.com/assets/5851088/23647156/9bdec952-0314-11e7-9ad7-8f30770b5885.gif)

[2017-03-07 08:59] #180 closed

[2017-03-07 09:06] #185 closed

[2017-03-07 09:28] #184 closed

[2017-03-07 12:07] thinkh opened #189 "Configure setup based on URL hash"
To avoid clicking initial columns over and over again, we should support a configuration that can be loaded based on the URL hash (e.g. something like that: http://localhost:8080/#age+firstalbum).

[2017-03-07 12:23] sgratzl commented on #93
can you switch from the table vis to the list vis, please?

[2017-03-07 12:25] mstreit opened #190 "Cannot add number one hits matrix when starting with countries"
### Steps to reproduce

1. Rank countries
2. Add matrix

### Observed behavior
* Nothing happens

### Expected behavior
* Matrix gets added to the table

[2017-03-07 12:25] mstreit commented on #161
@thinkh, could you please take care of this?

[2017-03-07 12:58] #161 closed

[2017-03-07 12:58] thinkh commented on #161
Two minutes in this case 😄

[2017-03-07 13:01] thinkh commented on #175
The black bar chart is changed with grey bars.

![taggle_barchart-color](https://cloud.githubusercontent.com/assets/5851088/23657473/95d8ad00-033e-11e7-9d88-c898e7ca989a.png)

[2017-03-07 13:01] #175 closed

[2017-03-07 13:04] thinkh commented on #170
Related tickets:
* https://github.com/Caleydo/mothertable/issues/65
* https://github.com/Caleydo/mothertable/issues/36

[2017-03-07 13:05] mstreit commented on #93
Looks much better.
![image](https://cloud.githubusercontent.com/assets/4129755/23657567/0cbcb330-033f-11e7-9a0c-a33573882fb0.png)

Can we please add some padding before the label on the left? Then we can close this issue.

[2017-03-07 13:05] katush commented on #36
Yes, it is fixed

[2017-03-07 13:05] #36 closed

[2017-03-07 13:06] mstreit commented on #189
This is important because it will save us all a lot of time during testing.

[2017-03-07 13:07] thinkh commented on #189
Yes, I'm going to work on this now.

[2017-03-07 13:15] bikramkawan commented on #170
Consider we have 50 px for multiform. We can render bar and heatmap. But switching the different visualization, we need see how it can be handled.
![mar-07-2017 2-06-25 pm](https://cloud.githubusercontent.com/assets/12292333/23657805/27758980-0340-11e7-926c-31ef6d4eb795.gif)

[2017-03-07 13:19] mstreit opened #192 "Remove multiform visses that don't make sense for Taggle from toolbar"
For example, we currently still show axis-based multiform in the list of possible visualizations. That does not make much sense.

[2017-03-07 13:22] #93 closed

[2017-03-07 13:24] thinkh commented on #93
Fixed.

![taggle_string-list-spacing](https://cloud.githubusercontent.com/assets/5851088/23658168/bf1a91e4-0341-11e7-861d-f6706c1cd0fe.png)

[2017-03-07 13:36] mstreit commented on #170
If the user switches to a multiform vis that needs more space, we need to give it the minimum size it needs. The rest of the multiforms need to be shrinked accordingly. Or is there something wrong with this strategy?

[2017-03-07 13:36] mstreit commented on #170
see also #192

[2017-03-07 13:38] bikramkawan commented on #170
Minimum Space Requirements per data element
<pre>VisType	    height	         width
Barplot	     2px	          20px
String	     8px	          20px
Heatmap	     2px	          20px
BarPlot	     20px	          20px
</pre>

[2017-03-07 13:39] mstreit commented on #170
barplot is listed twice?

[2017-03-07 13:41] sgratzl commented on #170
I guess the height is per row and the width in total?

that leads to a followup question: why is the width of a 2D heatmap not dependent on the number of columns shown?

[2017-03-07 13:44] bikramkawan commented on #170
Yes, the height is per row.
For 2D heatmap 2px*2px for one data element.

[2017-03-07 13:45] mstreit commented on #170
@bikramkawan, please update the list above accordingly

[2017-03-07 14:00] mstreit opened #193 "Hierarchical sort number is wrong during drag operations"
Let's assume I have three filter elements. If I dragt the third one to become the new second element, it will show 4 during the drag operation (and not 2).

![image](https://cloud.githubusercontent.com/assets/4129755/23659502/a34aeebe-0346-11e7-87e3-2e2f5dd8b9fa.png)

[2017-03-07 14:05] mstreit commented on #37
related to #170 (see @bikramkawan's list)

[2017-03-07 14:06] thinkh commented on #193
I created the numbers using a CSS counter. Since the jQuery UI draggable creates a new Element while dragging CSS finds 4 elements and updates the order. There is no easy way to change this unless we maintain the numbering in JS (and not CSS) or tell jQuery UI draggable to avoid the element.

In my opinion it's not that severe and we should postpone a fix.

[2017-03-07 14:07] mstreit commented on #193
OK.

[2017-03-07 14:10] thinkh opened #194 "Missing selection highlight for string columns"
![taggle_missing-selection-highlight](https://cloud.githubusercontent.com/assets/5851088/23659980/419f4b86-0348-11e7-8239-102bc832b36d.png)

[2017-03-07 14:11] #194 closed

[2017-03-07 14:12] thinkh commented on #194
![taggle_missing-selection-highlight-fixed](https://cloud.githubusercontent.com/assets/5851088/23660048/738c305a-0348-11e7-8064-c6d798d7572f.png)

[2017-03-07 14:18] bikramkawan commented on #157
![image](https://cloud.githubusercontent.com/assets/12292333/23660309/47c43728-0349-11e7-9574-be657cef48d3.png)

[2017-03-07 14:20] mstreit commented on #157
OK, and what is missing now to finish the brushing?

[2017-03-07 14:22] bikramkawan commented on #157
I am trying to assign the height and width based on
For now I am working on the below ticket
https://github.com/Caleydo/mothertable/issues/170

[2017-03-07 14:34] mstreit opened #195 "Add label/ID vectors for TCGA data"
At the moment it's not possible to add gene symbols or sample IDs as a column.

[2017-03-07 14:35] bikramkawan commented on #170
I have updated the maximum space requirements. You can suggest the preferred space. This is for not using the  whole space if we have less number of items to fill.

[2017-03-07 14:37] sgratzl commented on #195
matrices have the `.rows()` and `.cols()` method
tables/vector the `.names()` method

the return the column/row identifier

[2017-03-07 14:38] mstreit commented on #170
I think a boxplot does not need 40px. 15px should be sufficient.

[2017-03-07 14:39] mstreit commented on #170
what about the boxplot?

[2017-03-07 14:39] bikramkawan commented on #170
Typo error

[2017-03-07 14:42] mstreit commented on #170
I still don't see a boxplot in the list.

[2017-03-07 14:42] bikramkawan commented on #170
Updated

[2017-03-07 14:44] mstreit commented on #170
OK. But what about a histogram (for summarizing numerical data) and a bar charts (for summarizing categorical data)?

[2017-03-07 14:50] bikramkawan commented on #170
It will be hard to see the histogram in too little space, is not it? But still, we can render it.

[2017-03-07 14:51] mstreit commented on #170
Isn't that why we define a minimum height?

[2017-03-07 14:52] bikramkawan commented on #170
Yes

[2017-03-07 14:56] sgratzl commented on #170
I don't get this line, why is the minimum height of a histogram: `10px * number of contained items`?

[2017-03-07 14:57] mstreit commented on #170
yes, a histogram and a bar chart has a fixed height that is independent of the #items. @bikramkawan, please update the table accordingly.

[2017-03-07 14:58] mstreit commented on #170
@bikramkawan, where in the code do you plan to specify the min/preferred/max width/height?

[2017-03-07 14:58] bikramkawan commented on #170
Yes, that is independent of items. That is the maximum height of the bins which contains a maximum number of items.

[2017-03-07 15:02] sgratzl commented on #170
So, according to your definition, the following two histograms will have two different minimum heights, right?

[code]

[2017-03-07 15:03] mstreit commented on #71
Duplicate of #81. I'm closing this one.

[2017-03-07 15:03] #71 closed

[2017-03-07 15:05] mstreit commented on #170
Bar charts and histograms should have a fixed height (as in the filter view).

[2017-03-07 15:05] bikramkawan commented on #170
In this case, the maximum height of multiform for histogram will be the dimension specified above and the histogram will be rendered accordingly by scaling function I guess.

[2017-03-07 15:06] mstreit commented on #170
According to #37 there are already some dummy values set. You probably just need to update them.

[2017-03-07 15:10] mstreit commented on #54
related to #157

[2017-03-07 15:11] mstreit commented on #172
@thinkh, I assume that you are going to address this as well when you work on the layout, right?

[2017-03-07 15:14] mstreit commented on #68
@bikramkawan @katush, is this still an issue?

[2017-03-07 15:14] thinkh commented on #172
Yes, but only regarding the width. @bikramkawan is working on the height.

[2017-03-07 15:17] mstreit commented on #67
We use a light grey at the moment.

[2017-03-07 15:17] #67 closed

[2017-03-07 15:20] mstreit commented on #40
duplicate of #173

[2017-03-07 15:20] #40 closed

[2017-03-07 15:20] mstreit commented on #49
fixed as part of #93

[2017-03-07 15:20] #49 closed

[2017-03-07 15:21] mstreit commented on #192
duplicate of #56

[2017-03-07 15:21] #192 closed

[2017-03-07 15:22] mstreit commented on #37
duplicate of #170

[2017-03-07 15:22] #37 closed

[2017-03-07 16:35] sgratzl commented on #117
there is currently no way to return "no data" or introduce missing values artificially

the size is not important but the union of all `ids` in the visualized tables

[2017-03-07 16:35] sgratzl commented on #117
you could split up the heatmap in multiple heatmaps and move space between them

[2017-03-07 20:42] thinkh opened #196 "Space-filling columns if possible"
The columns are not space-filling in the width anymore.

![taggle_columns-not-space-filling](https://cloud.githubusercontent.com/assets/5851088/23677075/06ba5862-037f-11e7-89f1-af5919428fde.png)

[2017-03-07 20:44] alexsb commented on #196
I would argue that space filling is not a goal, but that the columns should have a width dependent on the content they show. Probably less than 1/3 of what we see here.

[2017-03-07 20:58] thinkh opened #198 "Wrong x-scaling factor for multiform visualizations"
### Steps to reproduce

1. Checkout https://github.com/Caleydo/mothertable/pull/197
2. Add multiple columns until they start to shrink or resize the window

### Observed behavior

![taggle_space-filling-columns](https://cloud.githubusercontent.com/assets/5851088/23677650/46e31904-0381-11e7-84b6-5250927876cf.gif)

* The visualizations does not scale correctly in x-direction
* For the y-direction it

[2017-03-07 21:02] thinkh commented on #172
For the width it's fixed with this commit: https://github.com/Caleydo/mothertable/pull/197/commits/77b45dd34d4621a94900c95bd3db710baef47607

This will trigger the columnManager.relayout() every 250 ms when resizing the window.

[2017-03-07 21:14] mstreit commented on #196
Yes, there will be a min/max/preferred size for each column type (see #37). The min width will be much less than in the screenshot shown above. So if there are only a few columns, which don't use the available space, that's of course fine. The space filling refers to the case where columns would grow over the space when using the preferred width. In this case, they will be first shrunk to the min

[2017-03-07 21:18] thinkh commented on #196
@alexsb Please see the PR https://github.com/Caleydo/mothertable/issues/197

Btw. at the moment I handle the preferred size as maximum size. Because a column can only grow/shrink between minimum and maximum (preferred) size.

[2017-03-07 21:21] mstreit commented on #196
@thinkh, thanks! Do you think we need a differentiation between max and preferred size?

[2017-03-07 21:22] thinkh commented on #196
No, I was thinking of renaming preferred size to maxSize in the code. It would be much clearer.

[2017-03-07 21:23] bikramkawan commented on #196
@mstreit I am also thinking that we only need min and preferred size while writing down the excel

[2017-03-07 21:24] mstreit commented on #196
OK, then let's just differentiate between min and max size. Initially we add columns using the max size of course.

[2017-03-07 21:25] thinkh commented on #196
OK, I'll rename the variables in the code.

[2017-03-08 08:13] #196 closed

[2017-03-08 09:40] mstreit commented on #198
@katush, can you please look at this problem soon? I would like to show a quick demo in the BI project meeting tomorrow.

[2017-03-08 09:43] sgratzl opened #199 "support stratifications"
in the current version only vectors and matrices are supported. However, in the TCGA case most of the categorical data are stored in stratifications.

a stratification can be converted into a categorical vector

[2017-03-08 22:40] bikramkawan opened #200 "Resizing in vertical direction."
This is the first version. Once I am done with #177 and #170. The behavior should be fine.
The matrix is also not scaling properly.
![mar-08-2017 11-31-51 pm](https://cloud.githubusercontent.com/assets/12292333/23727457/76615308-0458-11e7-9a99-44da58f985e3.gif)

[2017-03-08 23:49] katush commented on #198
It was caused by "height-only" restriction on scaling. Sorry this simple solution took so long, I was quite puzzled by disappearing scale factors. 😃 Should be fixed by https://github.com/phovea/phovea_vis/pull/36

[2017-03-09 07:16] mstreit commented on #198
Works, thanks!

[2017-03-09 07:16] #198 closed

[2017-03-09 07:18] mstreit opened #202 "Artifacts when scaling bar columns"
![image](https://cloud.githubusercontent.com/assets/4129755/23739774/da34b86e-04a0-11e7-897f-b3743e267b4b.png)

[2017-03-09 07:25] mstreit opened #203 "TCGA matrices are white only"
### Steps to reproduce

1. Add any of the TCGA matrices

### Observed behavior
* The heatmap is white. If I select RPPA, I can select cells though.

### Expected behavior
* Colored heat map

I assume that this is a problem related to a missing color scale for the TCGA matrices.
@bikramkawan, can you please check what's the issue here? The heatmaps are supposed to use the same white-red color mappi

[2017-03-09 07:36] mstreit commented on #203
It's not just the color map. This is the error:

[code]

[2017-03-09 07:42] mstreit commented on #203
This is a problem with the toImage feature on the server:
[code]

[2017-03-09 09:10] #200 closed

[2017-03-09 09:48] sgratzl commented on #203
see also https://github.com/phovea/phovea_server/issues/16

[2017-03-09 10:11] bikramkawan commented on #203
Our color range is ['#fff5f0', '#67000d']. So I donot know how to fix if the color is only from #00000 to #111111 .

[2017-03-09 10:42] #193 closed

[2017-03-09 10:43] thinkh commented on #193
That was easier than I expected. :) I just excluded the placeholder element from the counter incrementation.

[2017-03-09 10:54] thinkh commented on #203
In my local setup with the respective links for the requests:

Attribute | Request 1 | Request 2 | Texture rendered
--------- | ---------- | ---------- | -----------------
Methylation | [successful](http://localhost:8080/api/dataset/matrix/tcgaGbm20140416Methylation/data?format=png&range=&format_min=-0.8960109353&format_max=0) | [successful](http://localhost:8080/api/dataset/matrix/tcgaGbm20140416

[2017-03-09 11:05] sgratzl commented on #203
[error 500](http://localhost:8080/api/dataset/matrix/tcgaGbm20140416Mrna-Seq/data?format=png&range=(0%3A153)%2C(0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C17%3A14570%2C14569%2C14571%2C14572%3A18214)&format_min=-19.9691066742&format_max=0)

range = `(0:153),(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17:14570,14569,14571,14572:18214)`
server error: `IndexError: Selection lists canno

[2017-03-09 12:08] thinkh commented on #203
@bikramkawan Could you please check if these duplications are caused by the range split/merge from your hierarchical sorting?

[2017-03-09 12:34] bikramkawan commented on #203
@thinkh see here
https://github.com/Caleydo/mothertable/pull/205

[2017-03-09 12:35] mstreit commented on #203
@bikramkawan, why is #205 relevant for this problem?

[2017-03-09 12:37] bikramkawan commented on #203
I see the error on scaling because in previous one I filtered vectors to calculate datapoints.

[2017-03-09 12:39] mstreit commented on #203
but what has the scaling to do with the filtering?

[2017-03-09 12:42] bikramkawan commented on #203
filtering here means I was considering only the length of data from vectors.
If matrix is added in the first, i have to wait for other vectors to know the data elements. It was bug while I wrote that.

[2017-03-09 12:47] mstreit commented on #203
aha, ok. but is #205 supposed to finally solve this issue? because this is not the case when I tested it now.

[2017-03-09 12:48] bikramkawan commented on #203
I tested in my machine by adding matrices it worked for me.

[2017-03-09 12:51] mstreit commented on #203
@thinkh, can you confirm this please?

[2017-03-09 13:25] mstreit commented on #203
the problem was caused by an old local server api build. `docker-compose build api' solved my issue.

[2017-03-09 13:25] #203 closed

[2017-03-09 13:30] mstreit opened #206 "Add some white space between groups"
Currently it looks like this (without separator lines between stratifications):
![image](https://cloud.githubusercontent.com/assets/4129755/23752231/bf186eac-04d4-11e7-96bd-6cb6e821a9f3.png)

We should add some white space between the stratified (hierarchically sorted) blocks, such as in this ComplexHeatmap example:
https://cloud.githubusercontent.com/assets/449218/9685180/dddf30c0-531c-11e5-805a-

[2017-03-09 16:07] thinkh opened #207 "Wrong scaling for initially added matrix"
### Steps to reproduce

1. Add a matrix to the setup

### Observed behavior

![taggle_wrong-matrix-size](https://cloud.githubusercontent.com/assets/5851088/23758715/e86a7c80-04ea-11e7-8015-ad2e8cb5038d.gif)

### Expected behavior
* The matrix should have the correct scaline right from the beginning.

[2017-03-09 16:46] mstreit commented on #189
@think, nice! Should we create a placeholder issue where we collect some example URLs?

[2017-03-09 16:47] thinkh commented on #189
Yes, good idea.

[2017-03-09 16:48] thinkh opened #209 "Example URLs for testing"
http://localhost:8080/#idtype=artist&artist_0=gender%2CNumber%20One%20Hits%2Cin%20business%2Ccareer%20status%2Cartist%2Cage%20(years)%2Corigin

http://localhost:8080/#idtype=TCGA_SAMPLE&TCGA_SAMPLE_0=Methylation%2Cpatient.gender%2CmRNA%2Cpatient.daystolastfollowup

http://localhost:8080/#idtype=TCGA_SAMPLE&TCGA_SAMPLE_0=patient.gender%2Cpatient.race%2Cpatient.ethnicity%2Cpatient.ageatinitialpathol

[2017-03-09 16:57] thinkh commented on #68
This is fixed.

[2017-03-09 16:57] #68 closed

[2017-03-09 16:58] mstreit commented on #172
Works with the recent height changes from @bikramkawan.

[2017-03-09 16:58] #172 closed

[2017-03-09 17:00] mstreit commented on #202
Resolved due to max height of rows.

[2017-03-09 17:00] #202 closed

[2017-03-09 17:00] thinkh opened #210 "Selected visualizations are discarded when adding a column"
### Steps to reproduce

1. Add a column
2. Switch the visualization in the toolbar of the column
3. Add another column

### Observed behavior

* The visualization type is restored to its default

![taggle_replace-multiforms](https://cloud.githubusercontent.com/assets/5851088/23761133/0fa429e8-04f2-11e7-833d-84656a91fc19.gif)

### Expected behavior

* Keep the selected visualization from the user O

[2017-03-09 17:01] mstreit commented on #190
[code]

[2017-03-09 17:01] mstreit commented on #190
@bikram, please take a look at this issue.

[2017-03-09 17:02] mstreit commented on #170
@bikramkawan, this is done, right?

[2017-03-09 17:03] mstreit commented on #170
Please post a link to the LOC where the min/max values are defined before closing the issue.

[2017-03-09 17:05] mstreit commented on #62
@think, this is done, right?

[2017-03-09 17:05] bikramkawan commented on #170
No I am still working on this with multiple multiform. And what do you mean by LOC ?

[2017-03-09 17:06] mstreit commented on #170
LoC = Line of Code

[2017-03-09 20:46] thinkh commented on #62
Yes, everything from the list is done. Therefore I close the issue.

[2017-03-09 20:46] #62 closed

[2017-03-09 20:48] thinkh commented on #210
@bikramkawan Could you please have a look into that tomorrow? Maybe you can fix that already while working #157?

[2017-03-09 20:48] thinkh commented on #43
@mijar I'll take over that one.

[2017-03-09 20:49] bikramkawan commented on #210
Ok I will finish 157 first and I can take over this.

[2017-03-09 20:51] thinkh commented on #56
I think that can be part of the "magic box". We should only show visualizations that are explicitly defined in that "magic box".
@katush Is there a ticket for the "magic box"?

[2017-03-09 20:53] thinkh commented on #189
Closed, because the PR is merged.

[2017-03-09 20:53] #189 closed

[2017-03-09 21:36] thinkh commented on #210
Sure. Thanks. 👍

[2017-03-09 22:32] bikramkawan commented on #190
You mean choose primary id type as the country and then add matrix?

[2017-03-09 23:24] bikramkawan commented on #210
This is the approach for single multiform and the same logic will be applied once https://github.com/Caleydo/mothertable/pull/177  is fixed.
![mar-10-2017 12-18-58 am](https://cloud.githubusercontent.com/assets/12292333/23775113/5226bcb0-0527-11e7-89d0-06adf99d709c.gif)

[2017-03-10 09:21] katush opened #212 "Create logic that switches to visualization based on the given space - "Magic box""
Create Magic Box
Create a VisManager class that will contain the logic of assigning visualizations to multiform

- should contain method `assignVis` that takes multiform and its size as parameters and switches the multiform to correct visualization
- this method should be called in `ColumnManager`'s `relayout` method when the scaling is applied
- the logic should take into account (in this order):

[2017-03-10 12:42] bikramkawan commented on #170
The splitting multiform has performance issue for the TCGA dataset (large dataset).
Also, there is the minor issue regarding the rendering the multiform in the browser. The behavior of rendering can be seen from the below figure.The white lines space are the rendering from the browser because of too many dom elements close to each other. In the present scenario, I have not added the toolbar for ch

[2017-03-10 12:44] bikramkawan commented on #210
I will close this since it is merged

[2017-03-10 12:50] sgratzl commented on #170
out of curiosity: how many multiforms are created per column in this screencast and why?

[2017-03-10 12:54] bikramkawan commented on #170
When we add numerical data it's almost the same size of data. It means for now around 580. This is because from the hierarchical sorting.

[2017-03-11 07:16] mstreit commented on #66
Prop symbol vis already implemented in this branch:https://github.com/phovea/phovea_vis/commit/3671a514a6a6cbafc2168ca2a3f45905eee78185
@sgratzl, can you make a PR for this?

[2017-03-11 08:50] bikramkawan opened #214 "Reimplement sorting and stratification"
* The whole dataset will be sorted hierarchically according to all filters
* Stratification will only apply until we reach either a numerical or string column -> after that the number of stratifications will stay the same

Example for multiform rendering:
1. career status (categorical) -> 1 multiform with 2 stratifications/categories
2. studio albums (numerical) -> 2 multiforms (1 for each career

[2017-03-11 21:43] mstreit commented on #212
@katush, can you please summarize the rules that you plan to apply for the magic box?

[2017-03-11 21:45] mstreit commented on #207
Fixed in latest master.

[2017-03-11 21:45] #207 closed

[2017-03-11 21:49] mstreit commented on #195
OK, so we already have them but the dataset dropdown does not offer the labels as an option. @bikramkawan, can you please add a label vector for TCGA data? In the TCGA dataset we can use the Identifiers for the label column. It should look similar to the artists use case where the dataset dropdown offers a 'artist' entry that adds a label column.

[2017-03-11 21:49] #190 closed

[2017-03-11 21:50] mstreit commented on #190
Fixed. Thanks @bikramkawan.

[2017-03-11 21:52] bikramkawan commented on #195
Ok I will have a look into this @mstreit

[2017-03-12 11:43] bikramkawan commented on #214
Use case:
Consider following attributes
![image](https://cloud.githubusercontent.com/assets/12292333/23831383/3d76ab40-0720-11e7-9516-45d7d3900779.png)

Step 1: Sorted by Career Status
![image](https://cloud.githubusercontent.com/assets/12292333/23831388/53d37512-0720-11e7-99b5-8cb7639ab5fb.png)

The gray  color will be the single multiform for column career status

Step 2: Sorted by Origin
![imag

[2017-03-12 19:26] mstreit commented on #140
The sorting should be updated to reflect the sorting hierarchy as shown in the filter view.

[2017-03-12 19:29] mstreit commented on #199
Yes, this is very important for the TCGA use case.

[2017-03-12 19:30] mstreit commented on #171
Is this issue still valid? If yes, please make the description clearer. I don't know what the problem is.

[2017-03-12 19:34] mstreit commented on #72
I don't think that this is super important for the prototype implementation. -> low prio

[2017-03-12 19:37] mstreit commented on #81
Grey out filtered elements during filter drag operation. Filtered elements should be removed after user drops the filter.

[2017-03-12 19:56] mstreit opened #215 "Horizontal matrix aggregation"
It should be possible to aggregate single rows of a matrix to a single number (min, max, avg, median, etc.).

[2017-03-12 21:31] bikramkawan commented on #214
Current State:
Col1: 1 Multiform
Col2: 2 Multiforms
Cols > 2  are using 6 Multiforms

The sorting is same as previous .

![mar-12-2017 10-22-53 pm](https://cloud.githubusercontent.com/assets/12292333/23836077/85d1dfa2-0772-11e7-8990-0facb2432d60.gif)

Col 1 : 1 Multiform
Col2 : 2 Multiforms
Col 3: 6 Multiforms
Cols > 4 : 13 Multiforms
![mar-12-2017 10-27-44 pm](https://cloud.githubusercontent.com/

[2017-03-13 01:45] alexsb opened #216 "Cells not highlighted consistently in all columns"
![image](https://cloud.githubusercontent.com/assets/2039375/23838510/5bd82032-075c-11e7-8b44-eb7e9d7a102c.png)

The origin cells aren't highlighted.

[2017-03-13 09:15] mstreit opened #217 "Visually link column header and filter element"
When user hovers over a column, the corresponding filter element in the filter view should be highlighted - and vice versa.

[2017-03-13 09:18] mstreit opened #218 "Let user hide filter area on demand"

[2017-03-13 09:27] mstreit opened #219 "Improve data addition interface"
At the moment we have a very simple dropdown.
It would be nice to show:
- Name of the attribute
- Type of the attribute
- Dimensions (number of rows/columns)

Sketch from Mirka (a little outdated already)
![image](https://cloud.githubusercontent.com/assets/4129755/23848481/c8f9d428-07d7-11e7-8621-47c3cb4fe9e7.png)

[2017-03-13 09:27] mstreit commented on #219
related to #63

[2017-03-13 12:01] mstreit commented on #216
who can fix this?

[2017-03-13 12:03] mstreit commented on #56
related to #212

[2017-03-13 12:04] mstreit commented on #56
The list of possible visualizations for the different data types is defined here:
https://docs.google.com/spreadsheets/d/1q9XLe2LacuuQYAaJ_ewj51do-UX_AhmeZHF8YEoS_6g/edit#gid=0

[2017-03-13 12:16] mstreit commented on #214
@bikramkawan, are you already able to switch the matrix to a stratified boxplot renderer?

[2017-03-13 12:19] bikramkawan commented on #214
No. currently matrix is not switched to other representation rather than heatmap. I think it should be integrated with #212.

[2017-03-13 12:20] mstreit commented on #214
No, it is not related to #212, but rather #56

[2017-03-13 12:57] mstreit commented on #212
First, you could start with numerical columns:
- switch from bar to color encoding if the width of the column is below a certain threshold
- switch from bar renderer to histogram and finally box plot if height is below a certain threshold

[2017-03-13 13:06] mstreit opened #220 "Find another dataset for guiding use case example"
We need to find another dataset for the simple use case that we use as a guiding example in the paper. With 12 element the artists dataset is way too small.

Any suggestions?

[2017-03-13 16:44] thinkh opened #221 "Animate the filtered out bar"

[2017-03-13 17:27] mstreit commented on #220
We could use OECD data with some time aspect or alternatively this vaccine dataset with US states:
http://www.randalolson.com/2016/03/04/revisiting-the-vaccine-visualizations/

[2017-03-13 18:36] mstreit commented on #212
Also, switch to mosaic plot for sorted categorical data multiforms.

[2017-03-13 18:40] mstreit opened #222 "Increase minimum height of single rows in case space is available"
The height of the rows is so small that it's hardly possible to see labels. Let's use the same minimum height as for the string column rows.

![image](https://cloud.githubusercontent.com/assets/4129755/23869829/be08e584-0824-11e7-94c0-2d915086c78e.png)

[2017-03-14 14:37] bikramkawan commented on #195
By using the data.names();
For artist:
![image](https://cloud.githubusercontent.com/assets/12292333/23905617/e791a4b6-08cb-11e7-8c5a-f7981aa2a893.png)

But in TCGA I get errors like this.
![image](https://cloud.githubusercontent.com/assets/12292333/23905642/fe9295c6-08cb-11e7-8d11-3652bd32808e.png)

[2017-03-14 16:28] bikramkawan commented on #195
Any hints here @sgratzl ?

[2017-03-14 16:37] mijar opened #223 "Combining multiple single-value columns into one multivalue column"
Let's say we have 10 columns containing GDP for last 10 year, one column for 2006, one for 2007 and so on...I thought it might be beneficial to give the user a possibility to combine those columns into one that might make a use of Bikram's multivalue cell renderers.
What do you think?

[2017-03-14 17:00] #157 closed

[2017-03-14 17:06] thinkh opened #224 "Mosaic plot not shown initially, only after resize"
### Steps to reproduce

1. Add categorical column
2. Switch visualziation to mosaic plot

### Observed behavior
* The mosaic plot has the initial of height=0
* After rescaling the height is set correctly

![taggle_no-mosaic](https://cloud.githubusercontent.com/assets/5851088/23912698/ce8e3d2a-08e0-11e7-8de9-1ed15e5b51c4.gif)

![taggle_no-mosaic-height](https://cloud.githubusercontent.com/assets/58

[2017-03-14 17:06] thinkh commented on #224
@Caleydo/project_mother-table Could you please have a look if you have this behavior, too?

[2017-03-14 17:18] alexsb opened #225 "Rows are out of sync"
See this:

![image](https://cloud.githubusercontent.com/assets/2039375/23913242/f3b552fc-08a7-11e7-9bae-a147a7eda8a5.png)

Career Status in text label.

[2017-03-14 17:25] alexsb opened #226 "ToolTips for numerical values"
ToolTips for numerical values are missing

[2017-03-14 17:27] alexsb opened #227 "Add axis for numerical columns to headers"
Add to the header here on the left:

![image](https://cloud.githubusercontent.com/assets/2039375/23913615/2b157082-08a9-11e7-880b-49a5482336db.png)

[2017-03-14 17:59] bikramkawan commented on #170
Since it is merged with #157 I will close here.

[2017-03-14 17:59] #170 closed

[2017-03-14 17:59] #214 closed

[2017-03-14 18:01] #169 closed

[2017-03-15 08:57] sgratzl commented on #195
fixed as part of https://github.com/phovea/phovea_data_hdf/pull/9

[2017-03-15 09:23] bikramkawan commented on #210
It was broken after multiform. So I reopen again.

[2017-03-15 09:24] mstreit commented on #210
What means "after multiform"?

[2017-03-15 09:25] bikramkawan commented on #210
It's after I reimplemented sorting and stratification it is broken.

[2017-03-15 09:37] bikramkawan commented on #195
Thanks it worked. How do I create TableVector based on these ids?

[2017-03-15 09:39] mstreit commented on #195
@sgratzl mentioned the asVector() function yesterday.

[2017-03-15 11:48] bikramkawan commented on #66
![image](https://cloud.githubusercontent.com/assets/12292333/23947085/729b4eac-097d-11e7-985c-e074c99493c8.png)
There are many conflicts regarding boxplot, list and other stuff on phovea vis in order to  get updates from https://github.com/phovea/phovea_vis/commit/3671a514a6a6cbafc2168ca2a3f45905eee78185
@katush Could you please try to resolve conflicts?

[2017-03-15 21:57] bikramkawan commented on #195
The vectors are fine when IDs are added for TCGA. The rows are not same for all matrix and do not correspondence to the ids of TCGA. As in artist dataset, if the idtype is artist the row is 12. For TCGA, the idtype is TCGA_SAMPLE  and the length of vectors data are 582 and but the matrix is different. Some of the matrices have rows 153, and some are 538. If the rows of the matrix are not the same

[2017-03-15 22:26] mstreit commented on #195
yes, this is what issue #117 is about. the solution will be to make the vectors the same length by building the union of all IDs in all possible columns - but this is unrelated of this issue.

[2017-03-15 22:46] mstreit commented on #195
What you show in the video looks fine. You can make a PR for it. The missing ID issue must be  handled in a separate change.

[2017-03-16 10:04] mstreit commented on #216
what is the problem here?

[2017-03-16 10:05] bikramkawan commented on #216
I will have a look

[2017-03-16 10:05] mstreit commented on #173
What is missing to complete this issue?

[2017-03-16 10:18] katush commented on #173
There seems to be a bug in mosaic labels, that I was not able to fix. Holger is looking into that today.

[2017-03-16 10:19] mstreit commented on #173
OK. Related to #224.

[2017-03-16 10:22] mstreit commented on #225
probably related to scaling problems #207, #224

[2017-03-16 10:24] mstreit commented on #223
Yes, that would be useful. But AFAIK the multivalue cell renderers are LineUp specific.

[2017-03-16 10:25] mstreit commented on #171
@bikramkawan, ping!

[2017-03-16 10:27] thinkh commented on #224
I re-installed the mothertable_product. I can't reproduce this error anymore. Seemed to be a local problem.

[2017-03-16 10:27] #224 closed

[2017-03-16 10:28] bikramkawan commented on #171
Sorry forgot about this. This is related to #54.

[2017-03-16 10:29] mstreit commented on #171
Why is it related to #54? We don't have any brushing at the moment.

[2017-03-16 10:30] mstreit commented on #222
@bikramkawan, this should be an easy fix, right?

[2017-03-16 10:32] bikramkawan commented on #171
yes. But this issue is related to #54 because it should also listen to the filter trigger event. I created this some days before for future reference not to forgot.

[2017-03-16 10:33] bikramkawan commented on #222
@katush and we discussed yesterday related to this. She should have probably done this I think. @katush Any update ?

[2017-03-16 10:33] katush commented on #224
@thinkh is the magic-box branch working than? that's where you first came across it.

[2017-03-16 10:48] bikramkawan commented on #54
Case :
Each box represents multiform:
When user performs dragging this will not trigger the sorting event. The sorting result should stay same.
Before Dragging
![image](https://cloud.githubusercontent.com/assets/12292333/23992572/ae36b378-0a3d-11e7-9939-014016a7b5b3.png)

Now user start dragging from U2 to The Black Eyed Peas

![image](https://cloud.githubusercontent.com/assets/12292333/23992578/b

[2017-03-16 10:53] mstreit commented on #54
What am I supposed to see here? Why is the brushed area split up in three multiforms?

[2017-03-16 10:54] mstreit commented on #54
btw: it's called brusing and not dragging

[2017-03-16 11:41] mstreit commented on #54
Now I get it after your explanation. The arrow marks 4 rows that are selected. That's why the multiform is split up in three.

[2017-03-16 11:47] bikramkawan commented on #54
*updated figure. I think it should be now clear.

[2017-03-16 11:50] bikramkawan commented on #225
Yes, It seems to be scaling function of multiform which is not updated for the list. @katush Is it?

[2017-03-16 12:22] thinkh opened #230 "No labels in mosaic plot"
Coming from PR #228.

### Steps to reproduce

1. Add a categorical column (e.g., `patients.gender`)

### Observed behavior

Now I still have the error that no labels are shown. The DOM elements exists, but the group has display="none". I assume that one of the categories is too small to show the label and therefore all labels are hidden. The improvement would be that you check for each block/rect

[2017-03-16 12:25] thinkh commented on #195
PR is merged -> Closed

[2017-03-16 12:25] #195 closed

[2017-03-16 18:41] mstreit commented on #225
Works now.

![image](https://cloud.githubusercontent.com/assets/4129755/24013064/7a73e6bc-0a80-11e7-9c12-6def807dea36.png)

[2017-03-16 18:41] #225 closed

[2017-03-16 18:44] mstreit commented on #216
Fixed.

![image](https://cloud.githubusercontent.com/assets/4129755/24013212/f2f43e66-0a80-11e7-8209-324c52ab5b48.png)

[2017-03-16 18:44] #216 closed

[2017-03-17 06:53] thinkh commented on #224
No, it was in @bikramkawan old branch `feature_#157`

[2017-03-17 10:07] mstreit opened #233 "Reset previous selection when user selects a new element"
Exception: Don't reset selection when user holds the CTRL button. In this case the new selection should be added to the existing one.

[2017-03-17 12:52] mstreit opened #235 "Fix mosaic sorting"
![image](https://cloud.githubusercontent.com/assets/4129755/24043838/eda18d90-0b18-11e7-866d-3ab0e104881a.png)

[2017-03-17 13:04] mstreit commented on #128
[code]

[2017-03-17 14:43] bikramkawan commented on #54
Current state:
I have added brushing event listener for single multiform only. If the user is brushing from one multiform to another multiform, it will not work. We have thought to alternatives which can be discussed in meetings:

To Do: Add an extra flag in multiform for the brushing area to give more space.

The point of discussion:
- Add separate column only focus for brushing. This will make l

[2017-03-17 14:47] mstreit commented on #54
Some things we need to agree upon soon:
- Should the brushing be done in a dedicated brush column that is added by default or should the user be able to set a brush in every column? Technically the second one is much more difficult of course.
- Should the brushing be independent of selections or should it be the same thing?

@alexsb @mijar and others: your input is welcome!

[2017-03-17 14:52] alexsb commented on #54
Brushing == selections.
I'd advocate for brushing at every element.
How is cross multiform brushing a problem? For dragging events?

[2017-03-17 14:58] mstreit commented on #54
In general I agree that brushing == selections and that we just need to give selected items more space. It gets problematic though because the user would never be able to see the immediate context (neighboring rows) for single item selections. That's why we could discuss to let the user increase the zoom level for certain parts of the table -- independently of the selected items.

Re cross multifo

[2017-03-17 14:59] bikramkawan commented on #54
At the moment the mouseup and mousedown can only listen to the current multiform. The mouse event loses the context when moving to another multiform.

[2017-03-17 15:08] mstreit opened #237 "Create blurred visualization"
The blurred vis is needed when the string vis multiforms switch to a higher level.

[2017-03-17 15:11] mstreit commented on #212
Remaining issues are/will be reflected in separate issues.

[2017-03-17 15:11] #212 closed

[2017-03-17 15:12] mstreit opened #238 "Save visualization if user overrides default visses and aggregations"

[2017-03-17 15:19] mstreit opened #239 "Fix width of mosaic multiforms"
There is some white space problem introduced when the width of columns gets reduced.

![image](https://cloud.githubusercontent.com/assets/4129755/24049784/5670543c-0b2d-11e7-9b34-7350138a4b8e.png)

[2017-03-17 15:44] thinkh opened #240 "Add delete button to filter"
Add a delete button to the attribute filter (next to the sort direction button). On click all columns of this attribute should be deleted.

![grafik](https://cloud.githubusercontent.com/assets/5851088/24051019/01a8df6a-0b31-11e7-96e5-77f9b625493d.png)

[2017-03-17 15:48] mstreit commented on #240
We need to discuss if we actually want to have it. Because it has consequences for the interface how to add columns and matrices (see #219).

[2017-03-17 15:50] mstreit commented on #219
@alexsb, can you please add a sketch of the design that you had in mind? I remember that in one of our discussions we thought that it's a good idea to add all attributes to the side panel from the very beginning. We could then have a separation line that indicates which attributes are currently present in the table.

[2017-03-17 16:20] mijar commented on #54
The in-place manipulation is always better for the user (all elements can listen to the brushing) but on the other hand, in the sketches we considered brushing only in "id" column (names for artists) and it worked fine in my mind...

[2017-03-17 16:27] mstreit commented on #219
![image](https://cloud.githubusercontent.com/assets/4129755/24052776/fe65724a-0b36-11e7-8ae5-4ce24d17b6da.png)

[2017-03-17 16:36] alexsb commented on #219
Yes, that's roughly what I was thinking about.

Drag and drop is nice, but sometimes impractical if you have to drag far. So I'd add +/- buttons.

[2017-03-17 20:06] thinkh opened #242 "Create horizontal multiform visualizations in phovea_vis"
At the moment the phovea_vis doesn't work in horizontal direction. We need to extend these visualizations so that we can use them in the column stratifications.

![taggle_column-stratifications](https://cloud.githubusercontent.com/assets/5851088/24060854/5eccc49e-0b55-11e7-9f56-2b41688cf668.gif)

**Note:** I deactivated the multiforms at in #241. Activate the column stratifications when implementi

[2017-03-17 21:39] katush commented on #238
Behavior:
- if user select a visualization, this visualizations is kept until the user changes it
- if the multiform for which the user selected a vis is **split** by stratification, the vis is is inherited by the "child" multiforms
- if the multiforms are **merged** (by removed stratification) and at least one of the multiforms had user-selected vis, the "parent" multiform will inherit this vis.

[2017-03-18 01:08] katush commented on #238
finished for vecor columns here - https://github.com/Caleydo/mothertable/tree/user_selected_visses_%23238
but as I wrote, it breaks line correspondance

[2017-03-18 01:11] katush commented on #238
btw, isn't this issue duplicate of https://github.com/Caleydo/mothertable/issues/210 ?

[2017-03-18 11:29] mstreit opened #243 "Stratify matrices by all categorical columns that are above the table in the sorting hierarchy"
![image](https://cloud.githubusercontent.com/assets/4129755/24071597/810d8e18-0bd6-11e7-82b5-08d133cac8ad.png)

[2017-03-18 11:46] mstreit commented on #243
The splitting works once I add a numerical column. But as mentioned above, the matrix should also be split without a numerical column.

![image](https://cloud.githubusercontent.com/assets/4129755/24071711/e002c076-0bd8-11e7-849b-2fc06ce72df9.png)

[2017-03-18 12:09] mstreit opened #244 "Let user change multiform height using drag and drop"
Similar to what we have in mind with column width (#106). Rest of the table should adapt.

[2017-03-18 12:18] mstreit opened #245 "Add vis choser tooltip for tables"

[2017-03-18 12:50] mstreit commented on #222
This seems to be addressed in the https://github.com/Caleydo/mothertable/tree/user_selected_visses_%23238 branch.

![image](https://cloud.githubusercontent.com/assets/4129755/24072115/e09e948e-0be1-11e7-8e91-40f59fe3c383.png)

[2017-03-18 13:20] bikramkawan commented on #243
Yes, it was not the bug. It is intentional. The matrix was not part of the sort. The split of the matrix is same as preceding in the filter view.
I will look on this.

[2017-03-18 14:11] bikramkawan commented on #54
![mar-18-2017 3-10-29 pm](https://cloud.githubusercontent.com/assets/12292333/24072818/1c2b3196-0bed-11e7-8cf4-b63afc8e4c14.gif)

[2017-03-18 14:13] mstreit commented on #54
Looks good. But what happens if some of the multiforms are switched to a histogram/boxplot for instance?

[2017-03-18 14:21] bikramkawan commented on #54
When switching vis,
![mar-18-2017 3-20-37 pm](https://cloud.githubusercontent.com/assets/12292333/24072911/959372fe-0bee-11e7-96c1-b2dad9590add.gif)

[2017-03-18 14:24] bikramkawan commented on #54
There is some overlapping on mosiac.
![image](https://cloud.githubusercontent.com/assets/12292333/24072928/f24ad2da-0bee-11e7-8e4a-bc3ce5223f7e.png)

[2017-03-18 14:25] mstreit commented on #54
But what happens when the vis is already switched **before** brushing? Please push your current state so that I can test it myself.

[2017-03-18 14:31] mstreit commented on #54
Do you remove/merge the splitted multiforms again after the user changes the brush? Or what is your plan regarding this?

[2017-03-18 14:34] bikramkawan commented on #54
Currently, It removes. I can perform single instance only.I plan to extend for multiple brushing by keeping previously brushed area also.

[2017-03-18 14:36] mstreit commented on #54
OK, removing sounds good. Single brush is also fine at the moment. We should try to get the minimum features done before improving the ones we have.

[2017-03-18 20:55] mstreit commented on #206
According to our refined concept we only have one stratification across all columns. This makes it much easier to add white space.

[2017-03-18 20:57] mstreit commented on #65
Will close this issue and create a new one that reflects our refined concept.

[2017-03-18 20:57] #65 closed

[2017-03-18 20:59] mstreit opened #246 "Add interface for aggregating groups across all columns"
Add a small fixed size column that allows the user to switch for each stratified group whether it should be shown aggregated or non aggregated.

[2017-03-18 21:08] mstreit opened #247 "Add interface for changing column visualizations"
In the column toolbar the user should be able to switch the visualization for the non-aggregated and the aggregated groups separately.

Whether groups in the column are in aggregated or non-aggregated will be determined for each group across all columns (see #246).

[2017-03-18 21:15] mstreit opened #248 "Add simple brushing to bar chart vis"
When the user holds the mouse button and moves over the bars, they should be brushed (selected) and highlighted in all other visualizations. @bikramkawan, this should work very similar to what you already have implemented for the string column.

Note that nothing needs to be split and that the brushing itself is independent of increasing the size of the brushed elements. This issue is just about l

[2017-03-18 21:18] mstreit commented on #245
Will be handled uniformly via column toolbars (see #247).

[2017-03-18 21:18] #245 closed

[2017-03-18 21:19] mstreit commented on #243
Wont' implement.

[2017-03-18 21:19] #243 closed

[2017-03-18 21:21] mstreit opened #249 "Stratify table by the current sorting of a single user-defined categorical column"
The sorting of the categorical column should drive the stratification. See GDoc.
Related to #206.

[2017-03-19 08:49] mstreit commented on #246
Aggregated groups are always shown with a constant height (e.g., 20-30px).

[2017-03-19 09:20] bikramkawan commented on #249
Use Case:
User stratifies by column gender after sorting. The box represent stratification(multiform)
![image](https://cloud.githubusercontent.com/assets/12292333/24079592/b6049c0a-0c8b-11e7-9ad9-81fdd43a1042.png)
Will we now not consider numerical or string as stratification as before right?  Otherwise columns we add after numerical or string has to be split into several chunks which are avoided

[2017-03-19 09:21] mstreit commented on #249
Yes, we ignore numerical and matrix columns for the stratification.

[2017-03-19 09:25] bikramkawan commented on #249
To make  row consistent the sorting of numerical or column will be overridden by the following categorical column:
![image](https://cloud.githubusercontent.com/assets/12292333/24079702/4825e4a2-0c8e-11e7-9332-39441815fea6.png)

[2017-03-19 09:31] mstreit commented on #249
I don't understand your last sketch.
Let me rephrase it: The user can select a single categorical column. We take whatever combined stratification we have there and apply it across all columns.

[2017-03-19 09:52] bikramkawan commented on #249
It was just to refresh the previous concept if we take numerical column as a part of stratification which is not valid anymore according to our new concept.

[2017-03-19 09:55] mstreit commented on #249
I am not sure about this. Basically the user should get the stratification that he currently sees in this column. This is the only thing a user will understand. If he adds a numerical column and puts it in the hierarchy over the categorical column that he wants to use as a stratifier, then he will end up with many groups (but this corresponds to what he currently sees). If he wants to reduce the n

[2017-03-19 17:19] bikramkawan commented on #249
![2017-03-19_18-16-56](https://cloud.githubusercontent.com/assets/12292333/24083062/704ae5f8-0cd0-11e7-8b17-932a4ac31f6f.gif)

[2017-03-19 17:21] mstreit commented on #249
Could you draw a 2px border around every multiform in the implementation (just for debugging purposes)? This would make it much easier to see what the stratification is.

[2017-03-19 17:25] mstreit commented on #249
Or alternatively add the spacing described in #206.

[2017-03-19 17:34] bikramkawan commented on #249
Stratified by Ethnicity

![image](https://cloud.githubusercontent.com/assets/12292333/24083152/a34f744e-0cd2-11e7-8b20-839fd099f551.png)

[2017-03-19 17:36] mstreit commented on #249
Looks good! I think the spacing can be a bit smaller. How many pixels are this?

[2017-03-19 17:36] bikramkawan commented on #249
At the moment its 9px

[2017-03-19 17:39] mstreit commented on #249
Oh wait, the matrix seems to be not correctly stratified. There is a split missing in the lower part.

[2017-03-19 17:40] mstreit commented on #249
(let's move the spacing discussion to issue #206.

[2017-03-19 17:40] mstreit commented on #206
9px is too much. How about 2px or 4px?

[2017-03-19 17:42] mstreit commented on #249
Let's also add the first added categorical column as default stratification (see concept description).

[2017-03-19 17:44] mstreit opened #250 "Use same color mapping for rendered heatmap and heatmap image"
![image](https://cloud.githubusercontent.com/assets/4129755/24083244/e9dbef0e-0cd3-11e7-852b-00d2d1aae867.png)

The red heatmap is rendered on the client (because of its tiny size) while the bigger one is rendered on the server and shipped to the client as an image. That's fine but they should obviously have the same color mapping.

[2017-03-19 20:40] mijar commented on #219
how would you cover the situation, when the user would like to add e.g. Number1Hits twice to the Table view with different stratifiers in the vertical direction?

[2017-03-19 20:41] mstreit commented on #219
good point. any suggestion?

[2017-03-19 20:45] mijar commented on #219
First thought was keeping the matrices always available under the line, like a "neverending stack"...I am not sure if it will make sense to add the other attributes multiple times too...
Other thought was a "duplicate / clone" button in the Attribute panel, next to the move, remove and sort buttons
I am just making a refined sketch so we can see it clearer...

[2017-03-19 21:40] mijar commented on #219
![ui_refined-01](https://cloud.githubusercontent.com/assets/7511570/24085025/cc944718-0cf4-11e7-9c28-e29ddf78ab54.png)

What I don't like that much in this approach of having all attributes in place is that event though you might have multiple matrices in the Table view, you would not see them in this case shown above....
I have included the second thought with the clone button concerning my last

[2017-03-19 21:48] mstreit commented on #219
Yes, but with the clone I would still not see to which of the multiple matrices the stratifying attributes belong to, right?
How about visually bundling the matrix with the attributes that could be used to horizontally stratify the matrix? This way each matrix would have its own set of stratifier attributes (depending on the ID of the column...). In the your example, the country attributes would b

[2017-03-19 21:51] mstreit commented on #219
Very nice sketch btw 👍
I would love to see it already implemented :)

[2017-03-19 21:51] mijar commented on #246
![ui_refined_correct-01](https://cloud.githubusercontent.com/assets/7511570/24085134/5c478112-0cf6-11e7-88c3-6fdc589dbed7.png)

So origin is here a stratifier...and the aggregation column is the first one - full rectangle means it's aggregated, empty that we are on item level

[2017-03-19 21:57] mijar commented on #219
nice idea Marc! I will change it in the sketch...

[2017-03-19 22:38] mijar commented on #219
I put the sketches showing the behavior you proposed into the [gSlides presentation with the Mockup](https://docs.google.com/presentation/d/1I7y-VKfG02UyAIlYT_ZsklegRdiLz4rrrX5WiqO-hP0/edit#slide=id.g212ea52e2e_0_28):
slides 71-72 are showing just two variations of how to visually divide the panels
slides 72-74 are showing the collapsing behavior and preview of how much space we can most probably

[2017-03-19 22:43] mijar commented on #219
In general, I think that showing the other attributes not currently shown in the Table view do not make that much sense without some preview of the data...I mean yes, it is useful to see what attributes you can add...but if the added value is worth the space it takes...

[2017-03-19 23:58] mijar commented on #218
this is related to the whole Side panel?...We are adding columns via this...the only use case I see is to hide it when creating the figures out of Taggle

[2017-03-20 08:16] mstreit commented on #218
yes, I'll close this issue for now.

[2017-03-20 08:16] #218 closed

[2017-03-20 10:19] mstreit opened #251 "Fix public demo"
Jenkins job runs out of space (although @thinkh removed some of the older builds).

[2017-03-20 10:20] mstreit commented on #244
Not sure if we still want to have this. We should discuss this tomorrow.

[2017-03-20 10:21] mstreit commented on #235
As mosaic is not the default vis for categorical attributes, I will change the priority to low.

[2017-03-20 10:23] thinkh commented on #251
@sgratzl Please have a look at Jenkins when you are back.

[2017-03-20 10:23] mstreit commented on #238
According to the refined concept the user should not be able to change the visualization of single multiforms. However, I think we still need to save the visualization, so we can keep the implementation and use it for the column-wise vis assignment, right?

[2017-03-20 10:26] mstreit commented on #222
@katush, can you extract the change that fixes this issue from the https://github.com/Caleydo/mothertable/tree/user_selected_visses_%23238 branch and file a PR that just fixes the row height issue?

[2017-03-20 10:28] mstreit commented on #239
Low prio, as mosaic is not the default vis for categorical attributes anymore.

[2017-03-20 13:03] thinkh opened #253 "Update column stratifications when re-ordering the filter"
Coming from PR #241, re-ordering the filter for a matrix idType is not reflected in the column stratifications.

The sorting of the multiforms itself is working, but the DOM elements of the columns are not updated (see
https://github.com/Caleydo/mothertable/pull/241/files#diff-99a8c04a7d4d1ef691bd9fdae88553f6R122).

[2017-03-20 14:32] katush commented on #249
@bikramkawan you probably know about this, but the current stratification functionality overrides the sorting - this shouldn't happen I think. According to the filter view It should be first sorted by numerical column.
![image](https://cloud.githubusercontent.com/assets/8986080/24104175/c6ec0e94-0d81-11e7-97cb-b61d69deac19.png)

[2017-03-20 14:37] mijar commented on #219
I left the concept from yesterdy in the presentation for a reference, but an updated interface is in [the same presentation](https://docs.google.com/presentation/d/1I7y-VKfG02UyAIlYT_ZsklegRdiLz4rrrX5WiqO-hP0/edit?usp=sharing) from slide 75 up

[2017-03-20 14:40] mstreit commented on #219
I agree that showing the stratifiers for matrices on demand makes sense. But I still think that the attributes for the primary ID type should be present at the bottom. I don't like the indirection via the + button so much (for the primary ID type).

[2017-03-20 14:42] bikramkawan commented on #249
Yes. Just fixed.
![image](https://cloud.githubusercontent.com/assets/12292333/24104950/d40aecc4-0d83-11e7-80fb-de7e3403f131.png)

[2017-03-20 14:43] mijar commented on #219
@thinkh mentioned at the standup quite nice counterexample when the approach with attributes at the bottom broke down and was not intuitive...because it became messy with the surrounding attributes. Holger do you remember the case in more detail?

[2017-03-20 14:49] thinkh commented on #219
My point is, if user has the possible attribute of Artists and Countries (from a matrix) open at the bottom, it might be confusing which one will be added to which part. And the other point was that scrolling putting the attributes at the bottom requires a lot of scrolling and dragging up/down. Especially scroling while dragging is always tedious.

[2017-03-20 14:49] mstreit commented on #219
maybe this was because of the list of possible stratifying attributes for each matrix that would move done the attributes of the primary ID types.  I don't think that we will have this problem when we show the matrix stratifiers on demand.

[2017-03-20 16:39] #249 closed

[2017-03-20 16:40] mstreit commented on #206
Looks good now. But the added space needs to be considered in the overall height calculation. At the moment the table is growing outside of the visible space.

[2017-03-21 10:12] bikramkawan commented on #54
I have kept down here two solutions based on the new layout.
![2017-03-21_10-37-51](https://cloud.githubusercontent.com/assets/12292333/24142007/8b070268-0e25-11e7-9764-a438728383eb.png)

FYI the box represent one multiform currently stratified by career status

Case A: We increase the height of the brushed element and squeeze other elements but never increase the total height of multiform. In thi

[2017-03-21 12:03] bikramkawan commented on #54
![2017-03-21_13-00-43](https://cloud.githubusercontent.com/assets/12292333/24146573/8a747eaa-0e36-11e7-8eee-7377ac48d527.gif)
Current State: There is some issue remaining:
The speed of rendering and brushing is incorrect. If we brush very fast there is lag as you can see here.

[2017-03-21 13:58] mstreit commented on #206
@katush, can you consider the white space when recalculating the layout?

[2017-03-22 00:24] katush commented on #56
addressed by this https://github.com/Caleydo/mothertable/commit/1c92807cad41ae1c7c97562fb1ff5f1a7230321d

[2017-03-22 00:27] katush commented on #247
I think this is finished @thinkh?

[2017-03-22 00:27] #247 closed

[2017-03-22 08:54] mstreit commented on #117
I've talked to @sgratzl about possible ways to handle this. There is no easy solution unfortunately. One option is to address the issue temporarily by creating the union of the input tables in python and then load the derived data vectors and matrices.

[2017-03-22 10:20] mstreit commented on #251
Works. Thanks Sam.

[2017-03-22 10:20] #251 closed

[2017-03-22 10:21] mstreit commented on #251
Renamed: taggle-daily.caleydoapp.org

[2017-03-22 12:36] thinkh opened #258 "Confusing behavior when switching the visualization type"
Coming from https://github.com/Caleydo/mothertable/pull/257#issuecomment-288371979, which is actually not a bug as I reported in the PR, but a confusing behavior in our concept. I try to briefly explain the problem.

Again the screencast:
![taggle_wrong-aggregation-vis](https://cloud.githubusercontent.com/assets/5851088/24197540/510dc56e-0f02-11e7-94e2-369750c1b502.gif)

**Reproduction**
* Filter

[2017-03-22 14:07] #56 closed

[2017-03-22 14:07] #210 closed

[2017-03-22 14:08] thinkh commented on #222
@mstreit Could you please check again, if this is fixed. I'm not sure.

[2017-03-22 14:15] katush commented on #222
should be, though the name of this issue is not precise - at least I think that the goal was to increase maximum height of rows - so they can still shrink, but if they have space, they will expand. That is what I have done

[2017-03-22 16:19] mstreit commented on #222
Yes, it was about the max height.

[2017-03-22 16:19] #222 closed

[2017-03-22 16:40] mstreit commented on #248
Done.
@bikramkawan, please keep your issues up to date.

[2017-03-22 16:40] #248 closed

[2017-03-23 10:51] mstreit opened #260 "Remove gradient from histogram"
![image](https://cloud.githubusercontent.com/assets/4129755/24244386/e4660706-0fbe-11e7-9a2d-6c8cc82da662.png)

I don't know what the purpose of the gradient in the histogram is. But for Taggle it can definitely be removed (maybe turn it off using a flag, if we need the functionality somewhere else).

[2017-03-23 12:42] sgratzl commented on #260
see https://github.com/phovea/phovea_vis/pull/44

[2017-03-23 14:11] mstreit commented on #199
The heatmap clusterings from Firehose for TCGA data works.
![image](https://cloud.githubusercontent.com/assets/4129755/24251605/fb519db0-0fda-11e7-86dd-63a233632d86.png)

@sgratzl, can you please file a PR? I will merge it then.

[2017-03-23 14:14] mstreit commented on #199
The next and last step to address this issue would be to also let the user specify specific columns from categorical matrices (e.g., add the mutation status for a specific gene as categorical columns). This is important to finally be able to re-create the TCGA figures from publications.

The functionality is already used in StratomeX (http://stratomex.caleydoapp.org) where the user can access it v

[2017-03-23 14:56] sgratzl commented on #199
https://github.com/Caleydo/mothertable/tree/sgratzl/stratification adds all the columns of a matrix a column vectors. So, at the moment you end up with around 20k entries in the options menu

[2017-03-23 15:14] mstreit commented on #250
@sgratzl, can you please take a look at this? will probably not take you very long...
it should be constant. greyscale is fine as well for now.

[2017-03-23 16:10] katush opened #264 "Non-determinisstic matrix scaling"
Upon adding the matrix to the table, the matrix is often (not always) scaled incorrectly and also breaks the size of the whole table (except for the agg. switcher column)
![image](https://cloud.githubusercontent.com/assets/8986080/24257356/f2ab1db6-0fea-11e7-941c-643058455eba.png)
After next re-layout call, the scaling is again correct.
Seems that when the matrix is added and the re-layout is call

[2017-03-23 16:31] mstreit commented on #244
Switch to scroll mode would address this issue.

[2017-03-23 16:32] sgratzl commented on #250
https://github.com/Caleydo/mothertable/blob/master/src/column/MatrixColumn.ts#L55

explicitly sets the color scale to the redish one. However, the redish one is not supported by the server right now. See also https://github.com/phovea/phovea_server/issues/16

[2017-03-23 16:59] katush opened #265 "Fix visualizations"
- [x] Fix the order of histogram (flag)
- [x] Fix the color of boxplot - should be grey (see #260)
- [x] Remove gradient from histogram (use grey)
- [x] Add space between heatmap = border
- [x] Remove the border around rowbase visses if the rows are small

[2017-03-23 17:07] mstreit commented on #250
ok, then let's switch the color map back to greyscale (which will also be used in the filter view then).

[2017-03-23 17:10] mstreit opened #266 "Use select2 for attribute selection"
For the TCGA use case we will have thousands of different attributes (e.g., mutation for gene X). So the select2 box is the perfect solution to address this problem.
Also add an icon for each entry encoding the attribute type.

Related to #219.

[2017-03-23 17:13] mstreit commented on #237
Do we need this with our latest concept?

[2017-03-23 17:14] mstreit commented on #233
I've updated the title of the issue.

[2017-03-23 17:14] bikramkawan commented on #237
At the moment its not necessary. We said we would use the brush for unaggregated vis.

[2017-03-23 17:17] mstreit commented on #237
Yes, so the strategy is to not show the label if the row height is too small. However, the slim rows (that are empty) should still be brushable.

[2017-03-23 17:18] mstreit commented on #237
Will be handled as part of the vis labeling issue (#173)

[2017-03-23 17:18] #237 closed

[2017-03-23 17:18] #206 closed

[2017-03-23 17:19] mstreit commented on #199
Nice! The interface for this is part of #266.

[2017-03-23 17:20] mstreit commented on #199
https://github.com/Caleydo/mothertable/tree/sgratzl/stratification can be merged as soon as #266 is implemented.

[2017-03-23 17:22] mstreit commented on #66
@katush, this is supposed to work now, right?

[2017-03-23 17:23] #66 closed

[2017-03-23 17:25] mstreit commented on #63
Won't fix. This will be the select2 interface where the user can add one after another. #266

[2017-03-23 17:25] #63 closed

[2017-03-25 06:56] mstreit opened #267 "White space between groups sometimes not shown"
Depending on the window size and number of elements, the whitespace between the groups sometimes disappears.

![image](https://cloud.githubusercontent.com/assets/4129755/24320180/67ebf884-1130-11e7-924b-0b34d962abe9.png)

[2017-03-25 09:59] mstreit opened #268 "Reduce default width of vector columns"
Let's reduce the default width to the minimum size before the icons wrap lines.

![image](https://cloud.githubusercontent.com/assets/4129755/24321322/f901f51c-1149-11e7-8f9a-4546973e1ce6.png)

[2017-03-25 11:31] #268 closed

[2017-03-25 12:34] bikramkawan commented on #264
Steps to reproduce:
1: Add career Status
2.Add Number on hits
I am also facing this when adding stratification from other direction of the matrix. It is throwing error on
![image](https://cloud.githubusercontent.com/assets/12292333/24322248/bedbd6bc-115f-11e7-9149-7a0f6934c87a.png)

[2017-03-25 12:37] mstreit commented on #264
@bikramkawan, please don't mix issues. Your comment is related to #43 and should be posted there.

[2017-03-25 13:16] bikramkawan commented on #265
Histogram Color:
![image](https://cloud.githubusercontent.com/assets/12292333/24322494/9f2a3b1e-1165-11e7-8e5f-4f626cea7741.png)

[2017-03-25 13:17] bikramkawan commented on #265
Boxplot:
![image](https://cloud.githubusercontent.com/assets/12292333/24322506/baf41770-1165-11e7-8624-a2afaff36053.png)

[2017-03-25 13:17] mstreit commented on #260
Done.
![image](https://cloud.githubusercontent.com/assets/4129755/24322509/d3867f30-1165-11e7-9bd3-772ec1eee3dd.png)

[2017-03-25 13:21] mstreit commented on #265
Not everything on the list is fixed yet. Reopening issue.

[2017-03-25 13:47] mstreit commented on #233
Will be addressed in https://github.com/Caleydo/mothertable/tree/bikram/brush.

[2017-03-25 15:08] bikramkawan commented on #265
Sorting histogram
![mar-25-2017 4-07-40 pm](https://cloud.githubusercontent.com/assets/12292333/24323414/384f1120-1175-11e7-8265-deec7a3435e8.gif)

[2017-03-25 15:22] #128 closed

[2017-03-25 17:04] #54 closed

[2017-03-25 17:04] #260 closed

[2017-03-25 17:05] #233 closed

[2017-03-25 18:47] thinkh commented on #265
Done with https://github.com/Caleydo/mothertable/commit/075f165778386aaa72971a5a3866fdcc6626b59f

![grafik](https://cloud.githubusercontent.com/assets/5851088/24325189/d407ac26-1193-11e7-8980-d8d9cfe9726b.png)

[2017-03-25 19:05] thinkh opened #271 "Remove the border around rowbase visses if the rows are small"
Coming from https://github.com/Caleydo/mothertable/issues/265.

### Steps to reproduce

1. add some categorical or numerical columns
2. force the unaggregated items
3. resize the window so that the height of each row is < 4px

### Observed behavior

I played a bit with the scaling and found out that a scaleY factor <= 4 the rows are getting really messy because of the interpolation of the browser.

[2017-03-25 19:06] thinkh commented on #265
For the remaining todo I opened a new issue https://github.com/Caleydo/mothertable/issues/271.

-> I close this issue.

[2017-03-25 19:06] #265 closed

[2017-03-25 19:12] mstreit commented on #173
Works.

[2017-03-25 19:12] #173 closed

[2017-03-25 19:22] mstreit commented on #174
Yes, if the row is high enough we can use stroke instead of fill.

[2017-03-25 19:23] mstreit commented on #226
duplicate of #64.

[2017-03-25 19:23] #226 closed

[2017-03-25 19:37] mstreit opened #273 "Restyling of filter histograms"
As we don't use the red color map anymore in the table view, we should also switch back to a greyscale histogram. To still be able to differentiate between the included part and the filtered part, I suggest to apply a hatching pattern to the filtered area.

![image](https://cloud.githubusercontent.com/assets/4129755/24325517/c039ced4-119a-11e7-8883-167fac74f546.png)

[2017-03-25 19:38] thinkh commented on #273
Hatch pattern: https://iros.github.io/patternfills/sample_d3.html

[2017-03-25 20:08] mstreit commented on #220
Alex and I decided to use the AIDS dataset from http://aidsinfo.unaids.org/, which we will also take as a guiding example to introduce the concept.

With the different time steps for many of the attributes we also have lots of matrices. For the countries it's also easy to find additional meta-data such as population, size, GDP, etc.
The AIDS dataset itself also contains categorical attributes, suc

[2017-03-25 21:07] bikramkawan commented on #162
Addressed by #240

[2017-03-25 21:32] bikramkawan commented on #240
![2017-03-25_22-30-38](https://cloud.githubusercontent.com/assets/12292333/24326258/e671f292-11aa-11e7-8c73-4a2f06f661ed.gif)

[2017-03-26 09:25] mstreit opened #276 "Pop-up toolbar for small groups"
For small groups the height is too small to accommodate the three switcher icons. To address this issue we could create a pop-up toolbar showing up when the user hovers over the first switcher column.

Coming from #246.
![image](https://cloud.githubusercontent.com/assets/4129755/24330050/9eccf10a-1216-11e7-86b5-4ede9d30f6ef.png)

[2017-03-26 09:30] #240 closed

[2017-03-26 09:30] #246 closed

[2017-03-26 09:38] katush opened #278 "Wrong multiform splitting after brush"
When there are brushed elements and the user adds new column or changes stratification, the new multiforms are not split correctly - the "brushed" multiforms also contain items that weren't brushed.

[2017-03-26 09:40] mstreit commented on #278
Same happens if one brushes too fast so that some of the elements are not included in the brush but still get bigger.

![image](https://cloud.githubusercontent.com/assets/4129755/24330165/057ed164-1219-11e7-81bb-9c229b642308.png)

[2017-03-26 09:43] mstreit commented on #174
As we have the brushing now, we could also just make the brushed rows higher. In the aggregated vis, we can still highlight the brushed elements using color.

http://www.bytemuse.com/datacomb/demo/

[2017-03-26 09:47] mstreit commented on #227
How about adding histograms that show the distribution and also the min/max + current brush?

[2017-03-26 09:51] #162 closed

[2017-03-26 10:00] mstreit opened #279 "Brush only works from top to bottom"
Should also work when the user starts to brush an element and the drags upwards.

[2017-03-26 10:12] mstreit opened #280 "Remove brush splitting when layout switches from unaggregated to aggregated mode"
![image](https://cloud.githubusercontent.com/assets/4129755/24330399/6318f4c2-121d-11e7-9eb5-13bebb888f2a.png)

[2017-03-26 10:16] mstreit opened #281 "Remove flickering for relayout actions"
Every time we calculate the layout, the whole table flickers. Is there a way we can handle this? Maybe delay the rendering until the layout calculation is done? Or other ideas?

The perfect solution would of course be to have animated transitions explaining the changes. But I know that his will be difficult to achieve with the current implementation (also see #81).

[2017-03-26 10:18] mstreit opened #282 "Cannot turn off auto mode by clicking icon"
When I click the auto aggregation mode in the case it is already activated, I would assume that it is turned off but keeps the currently chosen aggregations mode active.

[2017-03-26 10:26] mstreit commented on #280
Can we just clear the brush splitting when switching a group to aggregate and re-split it when switching back to unaggregated mode?

[2017-03-26 14:33] #279 closed

[2017-03-26 15:42] mstreit commented on #258
@alexsb, any idea how to address this?

[2017-03-26 15:43] mstreit commented on #281
@thinkh, you have the most web dev experience. What do you think?

[2017-03-26 15:43] mstreit commented on #267
Seems to be an interpolation problem.

[2017-03-26 15:44] mstreit commented on #227
This is a must have for the final screenshots.

[2017-03-26 15:45] mstreit commented on #174
@alexsb, what do you think?

[2017-03-26 15:46] mstreit commented on #250
@bikramkawan, can you please take care of this?

[2017-03-26 15:47] mstreit commented on #273
coloring is also part of #250

[2017-03-26 15:51] mstreit commented on #264
I'm tempted to add a new label "super important"

[2017-03-26 15:55] alexsb commented on #174
I think a proper implementation that draws a frame is desirable. I don't think this is critical though.

Re changing row-height - maybe :) this is tricky if you're trying to be space filling.

[2017-03-26 15:56] mstreit commented on #174
We already make brushed rows higher, except if there is enough space to show all of them in a height that allows reading labels - then we just leave it as it is.

[2017-03-26 15:58] mstreit commented on #174
But yes, in the case where the brushed rows have the same size as other rows, there needs to be some kind of highlight anyway. So let's draw a frame. @thinkh, can you please change the style accordingly?

[2017-03-26 16:01] mstreit commented on #258
Won't fix now but I will leave it open as a reference for future discussions.

[2017-03-26 16:35] thinkh commented on #266
![taggle_select2](https://cloud.githubusercontent.com/assets/5851088/24333108/efe9e3ae-1252-11e7-8245-2617fc6a3454.gif)

[2017-03-26 16:36] thinkh commented on #43
@bikramkawan is currently working on that.

[2017-03-26 16:39] thinkh commented on #227
Should we really add the axis to the column header? If all headers should have a uniform height, we have an empty space in other column headers, right?

[2017-03-26 16:41] mstreit commented on #227
Datacomb shows the value of the current hover element in categorical columns.

[2017-03-26 16:42] mstreit commented on #227
@alexsb?

[2017-03-26 16:55] mstreit commented on #266
Nice!

[2017-03-26 16:55] #266 closed

[2017-03-26 17:02] thinkh commented on #199
I tried this after implementing the select2. Unfortunately, the performance is soooo bad. The Select2 has serious performance issues, when I add the whole 20k entries as array, because in the background it creates still a HTML select element (and the amount of DOM elements slows it down). So the only solution I see is to use the AJAX feature, which requires a backend for that call. 😐

[2017-03-26 17:05] mstreit commented on #199
OK. I suggest to filter the list down to only include a gene subset, which we need for the use case section.

[2017-03-26 17:11] thinkh commented on #199
Ok, sounds reasonable. @mstreit Can you please define the the subset, so that @sgratzl could apply the subset?

[2017-03-26 17:12] mstreit commented on #199
For this we need to think about what we want to show in the use case.

[2017-03-26 17:26] mstreit commented on #64
For heatmap we already have a tooltip. Please also add to barchart so that we can close this issue.

[2017-03-26 18:15] bikramkawan commented on #43
![2017-03-26_20-14-18](https://cloud.githubusercontent.com/assets/12292333/24333916/f6f4f18a-1260-11e7-8bf7-9c3c95fff44a.gif)

[2017-03-26 18:17] mstreit commented on #43
very nice.

[2017-03-26 18:18] mstreit commented on #43
The height of the horizontal 1D heatmap can be reduced.

[2017-03-26 18:19] mstreit commented on #43
Can you move the labels to the left side so that we don't need spacing between the different meta-rows?

[2017-03-26 18:20] mstreit commented on #43
And please also post a screenshot with TCGA data.

[2017-03-26 18:20] bikramkawan commented on #43
Ok The height can be fixed easily

[2017-03-26 18:23] #280 closed

[2017-03-26 18:23] bikramkawan commented on #64
I have added tooltip I think should be addressed by #43

[2017-03-26 18:41] mstreit commented on #278
@katush, is this issue solved?
I will extract the problem from my comment to a separate issue.

[2017-03-26 18:43] mstreit opened #285 "Some non brushed elements get increased although they shouldn't"
When brushing items quickly, some items will not be selected. However, their height is still increased. The highlight and the height change should be consistent.

![image](https://cloud.githubusercontent.com/assets/4129755/24334106/ac2fb3b6-1264-11e7-8796-4659569bac2c.png)

[2017-03-26 18:43] mstreit commented on #285
We can fix this after the deadline though.

[2017-03-26 19:26] mijar commented on #220
@mstreit I will collect the data just for the whole population (all age categories), ok?
@alexsb what is the best way for you to store the matrices, with the rest of the attributes in one table or separately and named after the values they store?

[2017-03-26 19:27] mstreit commented on #220
yes, all age is fine.

[2017-03-26 19:34] mstreit commented on #220
oh, and please put everything in our taggle gdrive folder.

[2017-03-26 19:36] mstreit commented on #242
@bikramkawan, for which visualizations did you implement the orientation switch now? heatmap and bar chart?

[2017-03-26 19:37] bikramkawan commented on #43
@thinkh Thanks for css trick :)
![image](https://cloud.githubusercontent.com/assets/12292333/24334542/44ab1afc-126c-11e7-8b97-4aefb81a7ec5.png)

[2017-03-26 19:40] mstreit commented on #43
The 1D heatmap should have the same height as the max row height.
The vertical bar chart can stay as it is.
Make the padding between the horizontal vis and the label a bit smaller so that the association is more obvious.

[2017-03-26 19:48] mstreit commented on #43
What about adding the additional attributes at the bottom so that we don't have the problem with the header?

[2017-03-26 19:53] mstreit commented on #220
Just as reference - generator script for Phovea Tables:
https://github.com/Caleydo/phovea_json_generator/blob/master/CreatePhoveaJson.ipynb

[2017-03-26 19:55] bikramkawan commented on #43
@mstreit Do you mean something like this? If we have attributes on top and bottom at the same time.
![image](https://cloud.githubusercontent.com/assets/12292333/24334672/e88a3a84-126e-11e7-8d56-db302f1fe73f.png)

[2017-03-26 19:58] mstreit commented on #43
yes, exactly. @alexsb and rest of the team, what do you think?
@bikramkawan, please use the max row height of the main table also for the 1D horizontal heatmap

[2017-03-26 20:14] mstreit commented on #43
in the future we could let the user decide whether to add it at the top or at the bottom - by using drag and drop.

[2017-03-26 20:34] alexsb commented on #220
Tables only though - adding matrix capabilities shouldn't be hard, but matrices are also easy to do by hand.

[2017-03-26 20:40] mstreit opened #288 "Cannot add numerical attrribute as first column"
Adding a categorical column first and then adding a numerical one works though.

[code]

[2017-03-26 20:43] katush opened #289 "Set proper indices when brushing histogram"
replace the dummy indices in histogram brushing

[2017-03-26 20:50] #43 closed

[2017-03-26 20:50] mstreit opened #290 "Let user move meta-rows for matrices via drag and drop between top and bottom"

[2017-03-26 20:53] mstreit commented on #64
Works now for barchart. Thanks @bikramkawan.

[2017-03-26 20:53] #64 closed

[2017-03-26 20:56] #242 closed

[2017-03-27 06:19] mstreit commented on #288
Also a problem in deployed demo system.

[2017-03-27 08:05] bikramkawan commented on #171
Since #54 is merged I will close this.

[2017-03-27 08:05] #171 closed

[2017-03-27 08:24] thinkh opened #292 "Broken sorting for numerical columns as first column"
### Steps to reproduce

1. Add numerical column as first column
2. Sort columns from column or filter

### Observed behavior

![taggle_sort-first-column](https://cloud.githubusercontent.com/assets/5851088/24347108/83cf6cea-12d7-11e7-9fb2-fcf11abe02f9.gif)

### Expected behavior
* Sorting the first column should work

[2017-03-27 08:33] thinkh opened #293 "Sort icons are out of sync between column and filter"
### Steps to reproduce

1. Add a numerical or categorical column (at any position)
2. Toggle sorting for column and filter

### Observed behavior

![taggle_sort-icons-unsynced](https://cloud.githubusercontent.com/assets/5851088/24347450/ac7bdb32-12d8-11e7-970c-d63b1697b857.gif)

### Expected behavior
* Both sort icons should reflect the same sort direction

[2017-03-27 10:32] thinkh commented on #250
Fixed by switching to grey scale (svg) heatmaps.

[2017-03-27 10:32] #250 closed

[2017-03-27 11:00] bikramkawan commented on #273
Better ?
![image](https://cloud.githubusercontent.com/assets/12292333/24353322/514e8b1e-12ed-11e7-8813-ccd958cbc5f7.png)

[2017-03-27 11:02] mstreit commented on #273
yes!

[2017-03-27 12:25] thinkh commented on #219
Done for now with select2 implementation. -> Close

[2017-03-27 12:25] #219 closed

[2017-03-27 12:30] thinkh commented on #227
@katush It would look like in [datacomb](http://www.bytemuse.com/datacomb/demo/).

![grafik](https://cloud.githubusercontent.com/assets/5851088/24356330/cefcade6-12f9-11e7-8c93-88e46e7493b3.png)

[2017-03-27 12:33] #273 closed

[2017-03-27 12:51] thinkh commented on #288
Is fixed with PR https://github.com/Caleydo/mothertable/pull/291.

[2017-03-27 12:51] #288 closed

[2017-03-27 13:05] #264 closed

[2017-03-27 13:07] mstreit opened #297 "Table should not be stratified by numerical columns"
### Steps to reproduce

1. Add numerical column
2. Add categorical column

### Observed behavior
* Table stratifies by numerical column, leading to a single group for each numerical value.

### Expected behavior
* No stratification should happen for numerical columns

[2017-03-27 13:07] sgratzl commented on #199
you could fake the ajax call by providing a different transport method:

https://select2.github.io/options.html#can-an-ajax-plugin-other-than-jqueryajax-be-used

[2017-03-27 13:12] mstreit opened #298 "Use histogram as default aggregate visualization for matrices"
Instead of having a heatmap in the aggregated mode, matrices should be shown using a histogram by default (as already shown in the filter view). The user should also see two visualizations for matrices in the vis chooser: histogram (default), matrix.

![image](https://cloud.githubusercontent.com/assets/4129755/24357923/9a9ff192-12ff-11e7-8dc4-93ecc427313d.png)

[2017-03-27 14:09] mstreit opened #299 "Set y-scale of histograms on a per-column basis"
Our bars in the histogram get smaller and smaller the more bins we have. We need to find out what the highest bin is in all histograms contained in a Taggle Column and set this as a max in all histograms.

[2017-03-27 14:23] mstreit opened #300 "Aggregation switcher should consider height of meta-rows added on top of matrix"
![image](https://cloud.githubusercontent.com/assets/4129755/24361259/b923664e-1309-11e7-9c4d-bebb2d0fa2e8.png)

[2017-03-27 14:48] mstreit opened #301 "Unify number of bins for same column across all groups"
![image](https://cloud.githubusercontent.com/assets/4129755/24362462/26f212f8-130d-11e7-8aa8-eb26b368c4ab.png)

Related to #299

[2017-03-27 14:53] alexsb commented on #227
There should be a histogram in every column, so why would there be an empty header?

[2017-03-27 14:54] alexsb commented on #227
And even if you don't want to do a histogram, we need the color labels for the categorical columns in the header IMO - the side panel is too far removed

[2017-03-27 14:56] mstreit commented on #301
Let's calculate the histogram for all elements in the column and use the same number of bins for stratified histogram

[2017-03-27 14:56] mstreit commented on #301
It will also look much clearer then.

[2017-03-27 14:58] mstreit commented on #299
Let's calculate the histogram for all elements in the column and use the value of the largest bin as a max in the y-scale for all histograms across the groups.

[2017-03-27 14:59] mstreit commented on #298
Done in https://github.com/Caleydo/mothertable/commit/b9f61d48a616abdf1d503d9414e8c2920b0e8530

[2017-03-27 14:59] #298 closed

[2017-03-27 15:14] mstreit opened #302 "Hatch pattern in one filter affects other filters"

[2017-03-27 15:18] mstreit commented on #227
yes, adding a histogram is an alternative. but we already have the histograms in the filter. so we would have it twice then.

[2017-03-27 15:20] thinkh commented on #227
But a histogram itself doesn't explain the length of the bar, because of the binning. So IMO we need the axis anyway.

[2017-03-27 15:22] mstreit commented on #227
you can show min/max values for the histogram as well.

[2017-03-27 15:33] #278 closed

[2017-03-27 16:10] mstreit commented on #227
We agreed to just add axis at the top

[2017-03-27 16:11] #293 closed

[2017-03-27 16:14] bikramkawan commented on #302
I cannot reproduce @mstreit Can you tell me how to reproduce ?
![2017-03-27_18-07-11](https://cloud.githubusercontent.com/assets/12292333/24366101/5e96277a-1318-11e7-8ecc-ad0804b7432e.gif)

[2017-03-27 16:18] mstreit commented on #302
Cannot reproduce either. Will report here when I see it again.

[2017-03-27 17:53] thinkh commented on #301
Done.

![grafik](https://cloud.githubusercontent.com/assets/5851088/24370250/0c20590c-1327-11e7-878f-3eda57a20a74.png)

[2017-03-27 17:53] thinkh commented on #299
Done.

![grafik](https://cloud.githubusercontent.com/assets/5851088/24370258/1314480e-1327-11e7-88af-5228bb348ca8.png)

[2017-03-27 17:55] mstreit commented on #299
Now the histograms are finally meaningful!

[2017-03-27 17:57] #299 closed

[2017-03-27 17:57] #301 closed

[2017-03-27 21:38] mijar commented on #220
![image](https://cloud.githubusercontent.com/assets/7511570/24379207/4faa4eac-1346-11e7-9708-9dfdfd6a20bf.png)
...I have found a few things, will create issues for them

[2017-03-27 21:40] mijar opened #306 "Horizontal column (the other direction) is not removed from table view after clicking the bin icon in side panel"
![image](https://cloud.githubusercontent.com/assets/7511570/24379273/aebf4f5a-1346-11e7-9ece-9d79581d769d.png)
I wanted to remove the upper categories but it stayed there

[2017-03-28 06:00] mstreit opened #308 "Brushed items sometimes don't get bigger"
![image](https://cloud.githubusercontent.com/assets/4129755/24390998/a8eeb638-138c-11e7-8484-b91b6e44257e.png)

[2017-03-28 08:58] mijar commented on #292
in this setup, it does not react to filtering values either

[2017-03-28 10:49] mstreit commented on #308
It seems that it only happens if the brush is set in one of the groups *above* an aggregated group.

[2017-03-28 10:52] mstreit opened #310 "Fix labe positions belonging to attributes stacked above matrices"
![image](https://cloud.githubusercontent.com/assets/4129755/24401601/51c7c48e-13b5-11e7-8f35-356a91fb9cbe.png)

[2017-03-28 10:58] mstreit opened #311 "String column should not draw labels below a certain row height"
![image](https://cloud.githubusercontent.com/assets/4129755/24401823/328443d0-13b6-11e7-914f-f856f9a1aee0.png)

[2017-03-28 11:15] #300 closed

[2017-03-28 11:21] thinkh commented on #310
Should be fixed with the last PR. Please check again and close issue.

[2017-03-28 11:22] #220 closed

[2017-03-28 11:23] #310 closed

[2017-03-28 13:17] mstreit opened #313 "Add String/ID column by default as first"
I think we should always include the column by default.

- [ ] set min size to the value that we also use for all the other row-based visses
- [ ] turn off label rendering if row height is not sufficient
- [ ] aggregate label vis can just show "XX Patients" (number of items in aggregate + ID type)

[2017-03-28 13:17] thinkh commented on #311
Thomas suggested in the meeting that we can still show the first few items as strings (in the aggregated mode) and indicate that there are more strings in this group. The first few strings would be helpful for the analyst to know what the group contains.

[2017-03-28 13:18] mstreit commented on #313
see #317

[2017-03-28 13:42] thinkh opened #314 "Use label or mosaic as aggregated visualization for the primary stratification column"
![grafik](https://cloud.githubusercontent.com/assets/5851088/24408142/26f1a85c-13cd-11e7-9e1f-dda129140c35.png)

A histogram doesn't make so much sense in this case and could be replaced with a mosaic or a single label (instead of a histogram).

[2017-03-28 13:51] thinkh commented on #314
Similar example where we could show a label or mosaic for the categorical columns.

![grafik](https://cloud.githubusercontent.com/assets/5851088/24408524/4a027faa-13ce-11e7-903e-d21471cbce95.png)

[2017-03-28 17:55] mstreit commented on #227
![image](https://cloud.githubusercontent.com/assets/4129755/24419753/8cf11a34-13f0-11e7-8f91-6a522aa989ec.png)

[2017-03-28 17:55] #227 closed

[2017-03-28 18:03] mstreit opened #316 "Encode missing values in heatmaps"

[2017-03-28 19:13] mijar opened #319 "selection of a column in matrix results in selection of additional column in other matrix"
![image](https://cloud.githubusercontent.com/assets/7511570/24422854/3e2a077a-13fb-11e7-87d4-8f00f8eb2026.png)

I selected the last column in the normalized matrix and this happened...I don't think it's wanted?

[2017-03-28 19:16] mijar opened #320 "Align the reversed matrix attributes to the bottom"
![image](https://cloud.githubusercontent.com/assets/7511570/24422984/c4ac3cc8-13fb-11e7-8490-5a871c1cdea1.png)

See HAART availability in the figure

[2017-03-28 19:17] mstreit commented on #319
As we take years as column IDs, they match across matrices. I think it's fine because the user can then associate the same year between different matrices.

[2017-03-28 19:19] mstreit commented on #320
Also the alignment of the meta-rows for the right matrix is buggy.

[2017-03-28 19:28] mijar opened #321 "Add a possibility to hide a column"
Before the AIDS_Years addition:
![image](https://cloud.githubusercontent.com/assets/7511570/24423262/ac000186-13fc-11e7-864c-570e2d509b44.png)

After:
![image](https://cloud.githubusercontent.com/assets/7511570/24423228/97a62c24-13fc-11e7-80c6-6398d3b7896a.png)

The AIDS-related deaths are total number of deaths in all countries in the world and the number is decreasing with every year thanks to t

[2017-03-28 19:33] mijar commented on #321
maybe have the possibility to *hide* a column? to keep the ordering, but I don't want the ID to be there... I propose a toggle button with eye icon in the attribute panel

[2017-03-28 19:34] mstreit commented on #321
yes, that would be a good solution.

[2017-03-28 19:42] mijar commented on #319
ok

[2017-03-28 19:42] #319 closed

[2017-03-28 19:44] mstreit commented on #319
If only all issues would be that easy to fix :)

[2017-03-28 19:52] mstreit opened #323 "Stratification icon not showing up when dragging a categorical attr over a numerical one"
### Steps to reproduce

1. Add categorical
2. Add numerical
3. Add another categorical
4. Drag second categorical to be second in the hierarchy

### Observed behavior
* No stratification icon in filter view

### Expected behavior
* If the second categorical column is below the first categorical column in the sorting hierarchy, it should be ably to stratify it as well.

[2017-03-28 20:02] bikramkawan commented on #323
I tried this in the master just now. Did you tried on master ?
![2017-03-28_21-58-26](https://cloud.githubusercontent.com/assets/12292333/24424737/01a51b3a-1402-11e7-9dc8-068a15b96f74.gif)

[2017-03-28 20:05] mstreit commented on #323
Aha, yes. With the master it works.

[2017-03-28 20:05] #323 closed

[2017-03-28 20:23] bikramkawan commented on #297
I closed this issue since Merged.

[2017-03-28 20:23] #297 closed

[2017-03-28 20:26] bikramkawan commented on #292
Filter is also fixed.

[2017-03-28 20:29] bikramkawan commented on #292
![mar-28-2017 10-28-07 pm](https://cloud.githubusercontent.com/assets/12292333/24425860/ee6d7cd4-1405-11e7-9937-4808562ef674.gif)

[2017-03-28 20:34] #292 closed

[2017-03-29 07:46] bikramkawan opened #325 "Cannot click on matrix data"
### Steps to reproduce

1.Any  Origin
2. Add Number one hits
3. Add continent in other direction
4.Filter some data from the continent.
5.Try to click on matrix

### Observed behavior
Cannot click because SVG of taggle axis was foreground.
### Expected behavior
Should be clicked able.

![image](https://cloud.githubusercontent.com/assets/12292333/24443798/5193cada-1464-11e7-9d17-b20be8ef32c8.png)

[2017-03-29 08:46] mijar opened #326 "Change vizualization range in table view for numerical columns after filtering"
I was thinking that it might be beneficial to rescale the range in numerical columns after filtering to better understand slight differences in the dataset. Let's say I want to explore how some attributes relate to the land area of countries and I want to focus on smaller countries.
See:
![image](https://cloud.githubusercontent.com/assets/7511570/24445887/db15d616-146b-11e7-97cc-ea4a42f215bd.png)

[2017-03-29 12:26] mijar opened #327 "deselect selected item"
### Steps to reproduce

1. Select any item(s)
2. Try to delect it to have all items in overview lvl

![image](https://cloud.githubusercontent.com/assets/7511570/24454225/6017a668-148b-11e7-8949-ce8d95498d6d.png)

### Expected behavior
* If I click on a selected element I would expect it to be deselected

[2017-03-29 12:41] mijar opened #329 "Changing the order of numerical columns in side panel does not have any effect in the table view"
I put there the human dev. index  first with fertility attribute, selected the countries with the most children per woman and then I wanted to see how they stand when I change the order in the side panel for the sorting to be driven by condom use second after the human dev. index...nothing happened

![image](https://cloud.githubusercontent.com/assets/7511570/24454793/7b958732-148d-11e7-9259-e134e4

[2017-03-29 13:08] mijar opened #330 "The select2 popup is not user-friendly when having less space"
Sometimes the popup appeared above the textbox, but mostly it stayed as it is in the screenshot. It is then really hard to select something that you don't know is there...maybe a scrollbar in the popup would be enough

![image](https://cloud.githubusercontent.com/assets/7511570/24455789/2987e06c-1491-11e7-9608-cccc52cd7440.png)

[2017-03-29 14:07] mijar opened #331 "Matrix visualization is buggy"
when aggregated, the placement histograms of matrices is being shifted with every group

![image](https://cloud.githubusercontent.com/assets/7511570/24458599/a5337390-1499-11e7-93aa-7bd2af68c143.png)

[2017-03-29 14:18] mijar commented on #316
The problem is related not only to the heatmaps, but also to numerical columns - right now I see no difference between the lowest value and null...in the following case it is related to the HIC prevention column, where quite a lot of values are null. But most probably, in developed countries in Europe there is quite good knowledge of the prevention...
This difference needs to be covered in my opin

[2017-03-29 16:03] mstreit commented on #316
Yes, I agree. This needs to be solved in all heatmap based visualizations.

[2017-03-29 16:09] mijar opened #332 "attributes in column direction do not reflect the column count in matrix"
There should be only years 2010 - 2015 shown in the above attributes

![image](https://cloud.githubusercontent.com/assets/7511570/24464610/a7f66efa-14aa-11e7-95a8-e55caee25a15.png)

[2017-04-05 11:11] bikramkawan commented on #215
![apr-05-2017 1-10-21 pm](https://cloud.githubusercontent.com/assets/12292333/24702956/643acd8a-1a01-11e7-897c-b4f15de484b7.gif)

[2017-04-05 11:14] bikramkawan commented on #215
I will replace that with same as in lineup as in sketch
![a392f3c6-d362-11e6-8a5d-c633e7315532](https://cloud.githubusercontent.com/assets/12292333/24703049/ca2189c2-1a01-11e7-9054-bc73ce29f8ed.gif)

[2017-04-05 11:16] bikramkawan commented on #329
@mstreit This is should be fixed from recent merge right ?

[2017-04-05 11:17] mstreit commented on #329
I did not test the scenario @mijar mentioned. Can you do this please?

[2017-04-05 11:18] mstreit commented on #215
Can I test this state? In which branch do I see it? There is no link to any commit.

[2017-04-05 11:19] bikramkawan commented on #215
You can switch to branch matrix. Sorry, I forgot to link the commit to this issue.

[2017-04-05 11:21] mstreit commented on #215
OK. So after flattening the matrx it behaves like a regular single value numerical column, right (with all the vis options etc.)?

[2017-04-06 06:03] mstreit opened #333 "Add ID/name column by default as first column"
related to #311

[2017-04-06 06:04] mstreit opened #334 "Focus all rows toggle button"
Add button on upper left side that allows user to switch all groups to aggregated/unaggregated mode.

[2017-04-06 11:57] bikramkawan commented on #215
Current State: Sketch Below:
Points of discussion:

- Should the other stratifiers and the support view of matrices be removed or keep as it is ?

- If the matrix is converted to vector. Currently, it is stacked at the bottom of the filter list which also takes part in sorting.It is just the normal numerical column similar to other. It will be part of filter operation and sorting by changing its p

[2017-04-06 14:43] mstreit commented on #81
I suggest to use a similar approach as we used for encoding rank changes in Lineup. If a group switches from aggregated to non aggregated mode (or vice versa) we can change the background color and slowly fade it back to white.

Transition steps:
- Remove current multiform vis
- Change background color
- Animated transition of group cell
- Add new multiform vis
- Fade out background highlight colo

[2017-04-06 15:02] mijar commented on #215
ad1: I think it should behave the same as in the case of rows. In other words - if you have a matrix stratified by continent, I would expect that after custom aggregation, it would end up with 3 columns of (average / etc.) values per each continent.

ad2&3: looks nice and quite easy to follow in my opinion, great job @bikramkawan

[2017-04-06 15:17] mstreit opened #335 "Add header scale for temporal matrices"

[2017-04-06 15:49] mstreit opened #336 "Let user remove/reset stratification by clicking on active stratification icon"

[2017-04-07 14:15] thinkh commented on #281
See PR #337 for more information.

[2017-04-12 15:09] bikramkawan commented on #215
Strategy:
CM = Column Manager

**Matrix to Vector Conversion:**

- Stratify  columns then choosing aggregate function and trigger  to the CM -> App

- Convert Matrix Views in vector(V1, V2...) with aggregate function

- Create independent columns and filters accordingly for each vector(V1, V2...)

- Add all the column stratifiers of the original matrix as a flag to V1, V2...

- update main view an

[2017-04-18 07:35] bikramkawan opened #340 "Add main header on top of vectors converted from matrix"
The main header will be useful for

- Restoring the whole vectors to matrix back again.

- Moving the converted vector out of the matrix scope

- It will quickly indicate matrix converted to vectors.

![image](https://cloud.githubusercontent.com/assets/12292333/25119130/45ac5d30-2419-11e7-8773-35835f5c60e6.png)

[2017-04-18 15:45] mijar commented on #215
I am not sure if splitting it into threee different columns in this manner makes sense...I would vote more for something like this:
https://docs.google.com/presentation/d/1I7y-VKfG02UyAIlYT_ZsklegRdiLz4rrrX5WiqO-hP0/edit#slide=id.g1b9192e035_0_103   (slides 39 up)

[2017-04-18 15:50] mijar commented on #340
How about the solution shown in sketches? I mentioned it in #215

[2017-04-20 12:02] bikramkawan commented on #340
We need to find the way how to handle if we click numerical column of subset below Matrix header. For now I have created the new instance of Matrix.
![2017-04-20_13-25-08](https://cloud.githubusercontent.com/assets/12292333/25229707/a0d3566e-25d1-11e7-845e-7c2e6d149ed7.gif)

[2017-04-24 23:19] alexsb commented on #333
I'd even argue that we should try to add multiple or even all columns by default. In excel, you'd also expect to see all columns.

[2017-04-24 23:22] alexsb opened #342 "Add row number column"
We should always show a column with row numbers. For aggregated columns, this column should show the aggregated range, e.g., 30-60.

[2017-04-24 23:25] alexsb opened #343 "Adding a list to an empty taggle results in wrong block size / squishing"
![image](https://cloud.githubusercontent.com/assets/2039375/25362725/f56d69be-2912-11e7-9976-7881fbcfd3a6.png)

Here, I've just added AIDS_Countries, nothing else. When I click on that column it resolves.

[2017-04-24 23:46] alexsb opened #344 "Turn off the magic"
Magic is usually not a good idea. Here. I've just added a couple of columns and sorted by continent:

![image](https://cloud.githubusercontent.com/assets/2039375/25363167/cc73c7e4-2915-11e7-997b-d3945a696a5f.png)

I did not ask for this aggregation, and it is confusing.

Let's never aggregate automatically, it's just confusing.l

[2017-04-24 23:55] alexsb commented on #335
Why only for temporal matrices?
I'd argue that we by default want to show every label of a matrix (column labels, probably rotated by 90 degrees), even if it means scrolling. And then, a use can choose to resize the matrix.

For certain data types, like for time-series matrices, we can use a more space efficient scale.

[2017-04-25 00:00] alexsb opened #345 "Clicking in a categorical histogram should select the category, not remove it."
Here I wanted to see all the African countries:

![image](https://cloud.githubusercontent.com/assets/2039375/25363441/ae851f92-2917-11e7-86c1-8a57e3e1bf26.png)

But instead, I filtered all the African countries out.

Clicking a bar should remove all others. If I want to add them back in, I can Ctrl+Click them, just as in any other user interface.

[2017-04-25 00:01] alexsb opened #346 "Clicking in a histogram should highlight, not filter"
Related to #345, I'd rather see the categories highlighted rather than filtered out. Filtering should then be an explicit operation.

[2017-04-25 00:05] alexsb commented on #321
I think a better solution would be to treat temporal data differently and simply sort by year.

[2017-04-25 00:07] alexsb commented on #311
And then, in the last row, it should read "33 more items [show all]" - and clicking on show-all should de-aggregate the column.

[2017-04-25 00:10] alexsb opened #347 "Allow users to resize columns"
Here, a couple of long country names waste a lot of space.

![image](https://cloud.githubusercontent.com/assets/2039375/25363622/30fb97a2-2919-11e7-99cc-5ad927d30de3.png)

We want to be able to dynamically resize columns.

[2017-04-25 00:17] alexsb opened #348 "Give all columns a narrower default width"
Right now, the columns are pretty wide by default:

![image](https://cloud.githubusercontent.com/assets/2039375/25363656/831c2eca-2919-11e7-8c63-01a77e031e6c.png)

In addition to being able to resize them manually (#347), I'd start out with a much narrower column. In many cases the first ~10 characters of a field will be sufficient to understand what's going on.

Also, numerical columns are pretty

[2017-04-25 00:23] #302 closed

[2017-04-25 00:24] alexsb opened #349 "Replace data type icons"
#I find the data type icons a little confusing, especially the numerical icon looks like the sorting icon.

I'd instead go for something like this:

![image](https://cloud.githubusercontent.com/assets/2039375/25363818/e34e43cc-291a-11e7-81d9-8fc9aa6e5c51.png)

Or this:

![image](https://cloud.githubusercontent.com/assets/2039375/25363845/1be80d1c-291b-11e7-8733-a278dddbf902.png)

We need icons for

[2017-04-25 00:26] alexsb commented on #349
The matrix icon is OK, but it could also be a variant of these icons, to reflect the nested datatype

[2017-04-25 06:27] mstreit commented on #333
For small datasets we can do that. But for larger datasets it will get difficult to set the filters in the right panel.

[2017-04-25 06:28] mstreit commented on #342
I agree.

[2017-04-25 06:30] mstreit commented on #343
Yes, that's because the aggregated vis for string columns is not implemented yet.
Related to #311.

[2017-04-25 06:33] mstreit commented on #347
duplicate of #106.

[2017-04-25 06:33] #347 closed

[2017-04-25 06:42] alexsb commented on #333
You mean if you have too many columns, or why?

Generally, the panel on the right does introduce a level of indirection which I'm not 100% sure about. But It leaves us with more space for the individual columns.

[2017-04-25 06:46] mstreit commented on #333
Yes, the side panel has pros/cons. But as the hierarchical sorting is independent of the order of columns, it cannot be in place. Also filtering would be difficult for narrow columns.

[2017-04-27 14:05] mstreit commented on #348
related to #276

[2017-04-27 14:07] mstreit commented on #336
A user sometimes wants to un-stratify the current table so that all items are in the same group.

[2017-04-27 14:11] mstreit commented on #334
This is basically what you've described in #344.

[2017-04-28 11:39] katush commented on #285
@mstreit  @NMO13 I think you mention Martin is going to work on this?

[2017-04-28 15:12] thinkh commented on #344
Turned off by default with @katush's last PR #351. I close this here.

[2017-04-28 15:12] #344 closed

[2017-05-02 07:34] thinkh opened #352 "Apply column stratification of first categorical column correctly"
* Release number or git hash:
* Web browser version and OS:
* Environment (local or deployed):

### Steps to reproduce

1. Add a matrix (e.g. Number1Hits)
2. Add a categorical column for this matrix (e.g. continent)
3. Split matrix by min/mean/max (type doesn't matter)

### Observed behavior
* The matrix is not splitted into 3 vectors as expected
* The user first has to click the stratify button o

[2017-05-02 07:58] mstreit commented on #329
Works.

[2017-05-02 07:58] #329 closed

[2017-05-02 08:00] mstreit commented on #325
Works.

[2017-05-02 08:00] #325 closed

[2017-05-02 08:00] mstreit commented on #343
Duplicate of #311.

[2017-05-02 08:00] #343 closed

[2017-05-02 08:24] mstreit commented on #349
Take from http://fontawesome.io/icons/

[2017-05-02 08:43] mstreit commented on #333
So by default the user will see two columns: rank (#342) and ID.

[2017-05-02 08:46] mstreit commented on #331
Seems to be fixed.
![image](https://cloud.githubusercontent.com/assets/4129755/25610727/a6dfe494-2f24-11e7-8007-9d54b9958c30.png)

[2017-05-02 08:46] #331 closed

[2017-05-02 08:57] mstreit commented on #313
Duplicate of #333

[2017-05-02 09:00] mstreit commented on #289
@katush, what is the problem here and is this still relevant/open?

[2017-05-02 09:04] mstreit commented on #244
won't fix.

[2017-05-02 09:04] #244 closed

[2017-05-02 11:34] mstreit opened #353 "Sparkline visualization for temporal matrices"
https://bl.ocks.org/davinov/7c2a8bca9ec595a62bff

[2017-05-03 11:54] NMO13 opened #354 "Selecting elements duplicates the elements in the column"
### Steps to reproduce

1. Create a string or numerical column
2. Select an arbitrary element
3. Select the last three elements.

### Observed behavior
The elements will be duplicated

### Expected behavior
* The elements should be selected.

![bug](https://cloud.githubusercontent.com/assets/3988444/25659378/cbeee8fa-3007-11e7-82d7-e4c03dc98e7c.gif)

[2017-05-10 08:39] thinkh commented on #333
The ID column is added by default. If there is no ID column available for the IDType an error message is shown in the console (and of course no column is added).

[2017-05-10 08:39] #333 closed

[2017-05-10 09:29] thinkh opened #356 "Fix column header when scrolling"
Similar to this UX pattern:

![](https://cdn-images-1.medium.com/max/800/1*kXEEaxvKP_9xRT0HuqScTQ.gif)
Image credits: https://uxdesign.cc/design-better-data-tables-4ecc99d23356

[2017-05-10 09:33] thinkh opened #357 "Fix rank and ID column when scrolling horizontally"
Similar to this UX pattern we should fix the rank column (#342) and id column (#333) when scrolling horizontally.

![](https://cdn-images-1.medium.com/max/800/1*Mp9kJSIlLyn5qjX-vD56iA.gif)
Image credits: https://uxdesign.cc/design-better-data-tables-4ecc99d23356

[2017-05-11 09:36] katush commented on #276
A slightly different issue, but since this was referenced from issue #348 I think  it is also relevant to have popup toolbar at the top of the column instead stretching in following way:
![image](https://cloud.githubusercontent.com/assets/8986080/25942746/e86b1058-363d-11e7-8d6b-781e9d837140.png)

[2017-05-18 13:14] mijar opened #360 "Histogram for matrices in Side panel"
The histogram (or what this should be) for the added matrix of number of people living with aids is somehow confusing...is the implementation correct? Or what is it depicting?

![image](https://cloud.githubusercontent.com/assets/7511570/26203709/95cc6ffa-3bdc-11e7-955e-40376261f145.png)

[2017-05-18 13:32] mijar opened #361 "all attributes are added twice to the popup in Side panel"
see doubled matrices below, the same is for the rest of the attributes that can't be seen until scrolled
![image](https://cloud.githubusercontent.com/assets/7511570/26204448/14d0cb14-3bdf-11e7-82bb-16a57a635774.png)

[2017-05-18 13:33] mstreit commented on #361
in which branch/version? does not happen on http://taggle-daily.caleydoapp.org

[2017-05-18 13:48] NMO13 commented on #361
And also provide the URL hash so that it can be reproduces quickly.

[2017-05-18 13:50] mijar opened #362 "Can't distinguish between the attribute panels of different matrices"
I added two different matrices and the panels are not labeled with the name of the matrix now, thus I don't know which panel belongs to which matrix (keep in mind that the order of columns in table view can be changed).
![matrices](https://cloud.githubusercontent.com/assets/7511570/26205324/afce1b4c-3be1-11e7-8d3a-75a5e13ebeb3.PNG)

[2017-05-18 13:54] mijar commented on #361
@NMO13 the URL hash does not make sense in this case since it is present in the popup in any setup...
@mstreit I created a workspace setup out of a product to see the latest changes and I just downloaded the latest master after Martin's PR...
Don't know where to exactly find which branch versions I have in my setup :(

[2017-05-18 13:55] mstreit commented on #361
'./forEach git status'

[2017-05-18 13:56] mijar commented on #361
#######################################
On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working tree clean
on phovea_data_hdf/ execute: git status
#######################################
On branch develop
Your branch is up-to-date with 'origin/develop'.
nothing to commit, working tree clean
on phovea_server/ execute: git status
##################################

[2017-05-18 15:26] NMO13 commented on #361
I can't reproduce it
![image](https://cloud.githubusercontent.com/assets/3988444/26210135/0e1f3c78-3bef-11e7-94c1-9b8f769f8538.png)

[2017-05-18 15:35] mstreit commented on #361
@miroslava.jaresova, the problem could be that you have two taggle/mothertable repos that get indexed (e.g. the renamed taggle repo and the old mothertable repo)

[2017-05-18 15:35] #361 closed

[2017-05-18 16:10] sgratzl commented on #361
[code]

[2017-05-18 16:34] #311 closed

[2017-05-23 07:07] #342 closed

[2017-05-23 07:08] #313 closed

[2017-05-23 07:10] #354 closed

[2017-05-23 07:16] NMO13 commented on #327
Is this still an important feature for the paper release?

[2017-05-23 08:23] mstreit commented on #327
No. I've marked this as post-submission.

[2017-05-23 08:43] mstreit commented on #215
Works in principle. New issues will be filed for buggy behavior.

[2017-05-23 08:43] #215 closed

[2017-05-23 08:48] mstreit commented on #230
We decided to not use the mosaic plot implementation. For aggregated groups we just create a new renderer that fills the area with the category color and shows the label.

[2017-05-23 08:48] #230 closed

[2017-05-23 08:50] #235 closed

[2017-05-23 08:52] #258 closed

[2017-05-23 08:53] #267 closed

[2017-05-23 08:54] #271 closed

[2017-05-23 08:55] mstreit commented on #281
Does not happen anymore because of removed fisheye.

[2017-05-23 08:55] #281 closed

[2017-05-23 08:56] mstreit commented on #285
Fixed by removing fish-eye.

[2017-05-23 08:56] #285 closed

[2017-05-23 08:58] #289 closed

[2017-05-23 09:00] mstreit commented on #308
Solved by removing fish-eye.

[2017-05-23 09:00] #308 closed

[2017-05-23 09:04] #334 closed

[2017-05-23 10:55] mstreit commented on #352
The TCGA stratification are already available in this branch:
https://github.com/Caleydo/taggle/tree/sgratzl/stratification
However, as every gene can be a stratification we run into a scalability problem for the select2 search.

[2017-05-23 10:59] bikramkawan commented on #140
![2017-05-23_12-57-34](https://cloud.githubusercontent.com/assets/12292333/26351336/8c2a7c9c-3fb7-11e7-8d4b-afbe757f2315.gif)

[2017-05-29 07:15] bikramkawan opened #365 "Default string column on reversed matrix should be removed"
### Steps to reproduce

1. Add matrix

### Observed behavior
The default string attribute is added on support view but not updated on top of matrix.
![image](https://cloud.githubusercontent.com/assets/12292333/26540092/f712077c-444f-11e7-9dc5-c484f9fb243e.png)

### Expected behavior
* The default string should be on top or the default string attribute should not be added by default when matrix is

[2017-05-29 12:53] bikramkawan commented on #332
![image](https://cloud.githubusercontent.com/assets/12292333/26550571/a19c9d1e-447e-11e7-8bae-8ee68df780a7.png)

[2017-05-29 13:18] bikramkawan commented on #320
![image](https://cloud.githubusercontent.com/assets/12292333/26551290/0fa9fac4-4482-11e7-9d3a-3bd663177884.png)

[2017-05-30 08:10] sgratzl commented on #199
fake ajax
[code]

[2017-05-30 11:04] mstreit commented on #316
The missing value encoding in the heatmap was fixed in https://github.com/phovea/phovea_vis/issues/57.
However, we need to systematically handle this in all other column visualizations as well (bars, strings, etc.).

[2017-05-30 11:12] thinkh opened #369 "Re-ordering attributes does not work for AIDS dataset"
Coming from PR #364 / issue #140.

### Steps to reproduce

1. Open the AIDS_Countries
    *NOTE:* **So far, I have only seen this behavior with the AIDS dataset.**
2. Add attributes "Continent", "Human devel. index", "Sex before 15"
3. Drag string column "AIDS_Countries" from the first to last position

![e4614b6d-edbe-488d-99fd-d39050fe6529](https://cloud.githubusercontent.com/assets/5851088/2658

[2017-05-30 11:27] #140 closed

[2017-05-30 11:34] thinkh commented on #332
Works as @bikramkawan posted.

[2017-05-30 11:34] #332 closed

[2017-05-30 11:40] thinkh commented on #320
Works as @bikramkawan posted.

[2017-05-30 11:40] #320 closed

[2017-05-30 12:18] bikramkawan commented on #340
Fix Row correspondence
![2017-05-30_14-12-34](https://cloud.githubusercontent.com/assets/12292333/26582633/3233fd90-4542-11e7-9747-27b8eb9bf463.gif)

[2017-05-30 12:29] bikramkawan opened #371 "The default stratification not working in matrix attributes"
![image](https://cloud.githubusercontent.com/assets/12292333/26583167/60120a70-4544-11e7-9f2f-1a1cbe312b7c.png)

[2017-05-30 12:59] sgratzl opened #372 "CategoricalFilter crashes with null values"
reproduce:
 * load a dataset in which there is categorical value which is null

[code]

[2017-05-30 15:45] thinkh commented on #348
Done by @katush.

![grafik](https://cloud.githubusercontent.com/assets/5851088/26592015/c95ca5a6-455f-11e7-9638-2b8de3f47c2e.png)

[2017-05-30 15:45] thinkh commented on #276
Done by @katush.

![grafik](https://cloud.githubusercontent.com/assets/5851088/26592027/d2905064-455f-11e7-8b83-e68730e8c39a.png)

[2017-05-30 15:45] #348 closed

[2017-05-30 15:52] katush commented on #276
@thinkh I think this issue was originally ment as pop-up for aggregation switcher column icons (column not toolbars), it just somehow got mixed up...

[2017-05-30 15:58] NMO13 opened #376 "Reloading the page does not invoke sort and stratify"
* Release number or git hash:
* Web browser version and OS:
* Environment (local or deployed):

### Steps to reproduce

1. Add a categorical column
2. Stratify it
4. Click F5 in the browser to trigger a reload

### Observed behavior
The column is unstratified and unsorted. However, the stratify icon is selected (orange)

### Expected behavior
* The column should be stratified and sorted
![bug](htt

[2017-05-31 08:18] #314 closed

[2017-05-31 15:20] NMO13 opened #378 "Encoding for missing values for number, string, and categorical columns"
Steps to reproduce:

- Add a categorical column
- Stratify it
- Add a numerical column with null values

Expected result:
- The dataset should be correctly visualized

Actual result:
- The visualization shows entries twice; the aggregator column and row number column are not shown

![bug](https://cloud.githubusercontent.com/assets/3988444/26639550/6d8f917c-4625-11e7-988f-da254ba555c7.gif)

[2017-05-31 15:30] thinkh commented on #378
Coming from #316 the encoding for number, string, and categorical columns is still missing and causing the issues @NMO13 described.

[2017-05-31 15:31] thinkh commented on #316
Opened a new issue for missing encodings in other columns.
--> Close this one.

[2017-05-31 15:31] #316 closed

[2017-06-01 08:42] #376 closed

[2017-06-01 11:29] sgratzl commented on #378
see https://github.com/phovea/phovea_vis/pull/61

[2017-06-01 11:30] sgratzl commented on #378
re sorting bug: https://github.com/Caleydo/taggle/pull/379

[2017-06-01 12:07] sgratzl commented on #330
I reduced the default height of the selection box and made the max-height dependent on the availiable screen height.

re above vs below -> select2 is smart enough if the whole thing fits above but not below it shows it above. However, if the box fits at neither place fully it will go for below.

[2017-06-01 12:33] #199 closed

[2017-06-01 12:51] sgratzl opened #381 "AIDS dataset normalization"
I just compared the two matrixes:
 * N. ppl. living with HIV
 * N. ppl. living with HIV norm.

I guess the second one is just the normalized version of the first one, i.e. the range of the data is just transformed globally. I'm I wrong?

However, when comparing the two heatmaps they have different patterns:

![2017-06-01 14_47_35-taggle](https://cloud.githubusercontent.com/assets/4129778/26680438/

[2017-06-01 12:54] sgratzl commented on #360
it is an histogram of the flatted values given the dataset ranges.

in this case it seems that most (almost all) values fall into the first bin (which is white)

![2017-06-01 14_53_19-program manager](https://cloud.githubusercontent.com/assets/4129778/26680542/1ac119d8-46da-11e7-8325-a29b17ef3d8e.png)

[2017-06-01 12:58] sgratzl opened #382 "unify histogram looks between MatrixFilter and NumericFilter"
atm the two have very different styles:

![2017-06-01 14_57_58-program manager](https://cloud.githubusercontent.com/assets/4129778/26680710/bcb4b736-46da-11e7-87fa-cfe23826c9ac.png)

[2017-06-01 13:00] sgratzl commented on #106
I vote to include this in the demo. Not as a feature but with the narrower column width you can't see most of the values because they are truncated.

[2017-06-01 13:02] sgratzl commented on #362
see #217

[2017-06-01 13:19] sgratzl opened #383 "generate customized unified tcga project"
coming from #117

since taggle can't handle datasets that haven't the same set of ids, the TCGA dataset needs to be adapted and filled up with null/NaN values.

First, we have to agree on the dataset to choose: currently it is TCGA_GBM_2014_04_16

[2017-06-02 08:03] #369 closed

[2017-06-02 08:15] thinkh commented on #378
In my tests this issue is solved with PR phovea/phovea_vis#61 and #379.
-> Close

[2017-06-02 08:15] #378 closed

[2017-06-02 08:16] thinkh commented on #372
@sgratzl Which dataset and attribute can I use to test it?

[2017-06-02 08:17] thinkh commented on #330
Thanks @sgratzl. It's working now.

[2017-06-02 08:17] #330 closed

[2017-06-02 08:17] sgratzl commented on #372
I used the tourguide ones. However, you could hack one of your local one and introduce a null value

[2017-06-02 08:23] thinkh commented on #372
Mh, in my test I can't confirm that...

![grafik](https://cloud.githubusercontent.com/assets/5851088/26717387/8269f12e-477d-11e7-847e-eecc9a32a502.png)

[2017-06-02 08:26] sgratzl commented on #372
is the value empty "" or null?

[2017-06-02 08:29] thinkh commented on #372
I tried both. The first one with "" and here with `null`:

![grafik](https://cloud.githubusercontent.com/assets/5851088/26717603/4b4d9ae6-477e-11e7-9719-c73c8851a138.png)

[2017-06-02 08:32] sgratzl commented on #372
in this case the value is "null" not `null` - I'm not sure whether you can hack the csv to create real null values. + if you just take a look at the exception it makes sense that is crashes.

[2017-06-02 08:40] thinkh commented on #372
Yes, you're right. I will just wait for a fix. ;-)

[2017-06-06 06:59] sgratzl opened #384 "should missing values (NaN) be the largest or smallest value?"
currently the largest ones.

see https://github.com/Caleydo/taggle/blob/master/src/SortHandler/SortHandler.ts#L147 and https://github.com/Caleydo/taggle/blob/master/src/SortHandler/SortHandler.ts#L172

[2017-06-06 07:15] sgratzl commented on #381
alternative possible normalization: normalized by popuplation?

[2017-06-06 08:10] sgratzl commented on #106
also encode the width in the url for simpler sharing